﻿@model Webtech_Office.Models.PromocoesViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>




<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Detalhes Banner</h3>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->

            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading" style="height:60px;">

                    <h4>Informação</h4>

                </div>


                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group  ">
                            @for (int i = 0; i < Model.PromocoesTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.PromocoesTexto[i].CONF_Idioma.Id)

                                <div class="col-md-12">

                                   
                                        @Html.LabelFor(model => model.PromocoesTexto[i].Titulo, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.PromocoesTexto[i].CONF_Idioma.Descricao))
                                        @Html.ValidationMessageFor(model => model.PromocoesTexto[i].Titulo, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.PromocoesTexto[i].Titulo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                   
                                </div>

                            }
                      </div>


                            <div class="form-group ">
                                @for (int i = 0; i < Model.PromocoesTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.PromocoesTexto[i].CONF_Idioma.Id)

                                    <div class="col-md-12">


                                        @Html.LabelFor(model => model.PromocoesTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.PromocoesTexto[i].CONF_Idioma.Descricao))
                                        @Html.ValidationMessageFor(model => model.PromocoesTexto[i].Introducao, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.PromocoesTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                    </div>

                                }
                            </div>






                            <div class="form-group ">
                                @for (int i = 0; i < Model.PromocoesTexto.Count; i++)
                                {



                                    @Html.HiddenFor(model => @Model.PromocoesTexto[i].CONF_Idioma.Id)

                                    <div class="col-md-12">


                                        @Html.LabelFor(model => model.PromocoesTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.PromocoesTexto[i].CONF_Idioma.Descricao))
                                        @Html.ValidationMessageFor(model => model.PromocoesTexto[i].Link, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.PromocoesTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                    </div>

                                }
                            </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                            <div class=" form-group">
                                @for (int i = 0; i < Model.PromocoesTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.PromocoesTexto[i].CONF_Idioma.Id)



                                    <div class="col-md-12 ">



                                        <label class="control-label "><b>PDF</b></label>
                                        (@Html.DisplayFor(model => model.PromocoesTexto[i].CONF_Idioma.Descricao))
                                        @if (!String.IsNullOrWhiteSpace(Model.PromocoesTexto[i].PDF))
                                        {
                                            <p style="cursor:pointer;padding:0;"><i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.PromocoesTexto[i].PDF)</p>

                                        }
                                        else
                                        {
                                            <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                        }

                                    </div>





                                }
                            </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                            <div class="form-group">
                                @for (int i = 0; i < Model.PromocoesTexto.Count; i++)
                                {



                                    <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                        <label class="control-label "><b>Imagem</b></label>
                                        (@Html.DisplayFor(model => model.PromocoesTexto[i].CONF_Idioma.Descricao))
                                        @if (!String.IsNullOrWhiteSpace(Model.PromocoesTexto[i].Imagem))
                                        {
                                            <p>
                                                <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.PromocoesTexto[i].Imagem)"
                                                     class="img-preview">
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                     class="img-preview">
                                            </p>
                                        }






                                    </div>



                                }
                            </div>






                        </div>
            </div>
            </div>


          


                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Promocoes.Activo, htmlAttributes: new { @class = "control-label " })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Promocoes.Activo, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Promocoes.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>


                        </div>



                    </div>
             

        </div>


     

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>

                </div>
            </div>
        </div>


    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

    /*
    $(document).ready(
        function () {
            var val = $("#PrecoHomePage").val();
            val = Number(val);
            $("#PrecoHomePage").val(val.numberFormat(2, ',', '.'));
        }
    );
    */

    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }
</script>


