﻿
@{
    ViewBag.Title = "Home Page";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/prettyPhoto.css" />

<section class="content-header">

    <h1>
        Home Page
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarHomePageBanner", "HomePage")" id="btnCriarHomePageBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaHomePageBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Destaques</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarDestaques", "HomePage")" id="btnCriarDestaques" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Destaque</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaDestaques" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Promoções</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarPromocoes", "HomePage")" id="btnCriarPromocoes" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Promoção</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaPromocoes" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>




<!-- Modal -->
<section>

    <div class="modal fade" id="CriarHomePageBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarHomePageBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarHomePageBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="DetalhesHomePageBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesHomePageBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesHomePageBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarHomePageBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarHomePageBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarHomePageBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarHomePageBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarHomePageBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarHomePageBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemHomePageBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemHomePageBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemHomePageBannerContainer">

        </div>
    </div>
</section>

    <section>

        <div class="modal fade" id="CriarDestaquesModal" tabindex="-1" role="dialog" aria-labelledby="CriarDestaquesModal" aria-hidden="true" data-backdrop="static">
            <div id="CriarDestaquesContainer">

            </div>
        </div>

        <div class="modal fade" id="DetalhesDestaquesModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesDestaquesModal" aria-hidden="true" data-backdrop="static">
            <div id="DetalhesDestaquesContainer">

            </div>
        </div>


        <div class="modal fade" id="ApagarDestaquesModal" tabindex="-1" role="dialog" aria-labelledby="ApagarDestaquesModal" aria-hidden="true" data-backdrop="static">
            <div id="ApagarDestaquesContainer">

            </div>
        </div>

        <div class="modal fade" id="EditarDestaquesModal" tabindex="-1" role="dialog" aria-labelledby="EditarDestaquesModal" aria-hidden="true" data-backdrop="static">
            <div id="EditarDestaquesContainer">

            </div>
        </div>

        <div class="modal fade" id="ImagemDestaquesModal" tabindex="-1" role="dialog" aria-labelledby="ImagemDestaquesModal" aria-hidden="true" data-backdrop="static">
            <div id="ImagemDestaquesContainer">

            </div>
        </div>





    </section>

    <section>

        <div class="modal fade" id="CriarPromocoesModal" tabindex="-1" role="dialog" aria-labelledby="CriarPromocoesModal" aria-hidden="true" data-backdrop="static">
            <div id="CriarPromocoesContainer">

            </div>
        </div>

        <div class="modal fade" id="DetalhesPromocoesModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesPromocoesModal" aria-hidden="true" data-backdrop="static">
            <div id="DetalhesPromocoesContainer">

            </div>
        </div>


        <div class="modal fade" id="ApagarPromocoesModal" tabindex="-1" role="dialog" aria-labelledby="ApagarPromocoesModal" aria-hidden="true" data-backdrop="static">
            <div id="ApagarPromocoesContainer">

            </div>
        </div>

        <div class="modal fade" id="EditarPromocoesModal" tabindex="-1" role="dialog" aria-labelledby="EditarPromocoesModal" aria-hidden="true" data-backdrop="static">
            <div id="EditarPromocoesContainer">

            </div>
        </div>

        <div class="modal fade" id="ImagemPromocoesModal" tabindex="-1" role="dialog" aria-labelledby="ImagemPromocoesModal" aria-hidden="true" data-backdrop="static">
            <div id="ImagemPromocoesContainer">

            </div>
        </div>





    </section>


<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaHomePageBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "HomePage")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("HomePageBannerImagem", "HomePage")?id=' + data + '" class="verHomePageBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesHomePageBanner", "HomePage")?id=' + data + '" class="detalhesHomePageBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarHomePageBanner", "HomePage")?id=' + data + '" class="editarHomePageBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarHomePageBanner", "HomePage")?id=' + data + '" class="apagarHomePageBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarHomePageBanner').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarHomePageBannerContainer').html(data);

                $('#CriarHomePageBannerModal').modal('show');
            });


        });



        /* Detalhes Categoria  */
        $('#ListaHomePageBanner').on("click", ".detalhesHomePageBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesHomePageBannerContainer').html(data);

                $('#DetalhesHomePageBannerModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaHomePageBanner').on("click", ".editarHomePageBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarHomePageBannerContainer').html(data);

                $('#EditarHomePageBannerModal').modal('show');
            });


        });



        $('#ListaHomePageBanner').on("click", ".verHomePageBannerImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemHomePageBannerContainer').html(data);

                $('#ImagemHomePageBannerModal').modal('show');
            });


        });



        $('#ListaHomePageBanner').on("click", ".apagarHomePageBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarHomePageBannerContainer').html(data);

                $('#ApagarHomePageBannerModal').modal('show');
            });


        });









    });






</script>

    <script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaDestaques').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaDestaques", "HomePage")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("DestaquesImagem", "HomePage")?id=' + data + '" class="verDestaquesImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesDestaques", "HomePage")?id=' + data + '" class="detalhesDestaques" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarDestaques", "HomePage")?id=' + data + '" class="editarDestaques" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarDestaques", "HomePage")?id=' + data + '" class="apagarDestaques" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarDestaques').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarDestaquesContainer').html(data);

                $('#CriarDestaquesModal').modal('show');
            });


        });



        /* Detalhes Categoria  */
        $('#ListaDestaques').on("click", ".detalhesDestaques", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesDestaquesContainer').html(data);

                $('#DetalhesDestaquesModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaDestaques').on("click", ".editarDestaques", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarDestaquesContainer').html(data);

                $('#EditarDestaquesModal').modal('show');
            });


        });



        $('#ListaDestaques').on("click", ".verDestaquesImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemDestaquesContainer').html(data);

                $('#ImagemDestaquesModal').modal('show');
            });


        });



        $('#ListaDestaques').on("click", ".apagarDestaques", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarDestaquesContainer').html(data);

                $('#ApagarDestaquesModal').modal('show');
            });


        });









    });






    </script>

<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaPromocoes').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaPromocoes", "HomePage")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("PromocoesImagem", "HomePage")?id=' + data + '" class="verPromocoesImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesPromocoes", "HomePage")?id=' + data + '" class="detalhesPromocoes" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarPromocoes", "HomePage")?id=' + data + '" class="editarPromocoes" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarPromocoes", "HomePage")?id=' + data + '" class="apagarPromocoes" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarPromocoes').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarPromocoesContainer').html(data);

                $('#CriarPromocoesModal').modal('show');
            });


        });



        /* Detalhes Categoria  */
        $('#ListaPromocoes').on("click", ".detalhesPromocoes", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesPromocoesContainer').html(data);

                $('#DetalhesPromocoesModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaPromocoes').on("click", ".editarPromocoes", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarPromocoesContainer').html(data);

                $('#EditarPromocoesModal').modal('show');
            });


        });



        $('#ListaPromocoes').on("click", ".verPromocoesImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemPromocoesContainer').html(data);

                $('#ImagemPromocoesModal').modal('show');
            });


        });



        $('#ListaPromocoes').on("click", ".apagarPromocoes", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarPromocoesContainer').html(data);

                $('#ApagarPromocoesModal').modal('show');
            });


        });









    });






</script>

<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>
