﻿

@model Webtech_Office.Models.LojaViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>


<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;&nbsp;Apagar Loja</h3>
</div>

        <div class="modal-body">
            <!-- Custom Tabs -->




            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">

                    <h4>Informações da Loja</h4>

                </div>

                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Nome, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Nome, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Loja.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Morada, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Morada, "", new { @class = "text-danger" })
                                @Html.TextAreaFor(model => model.Loja.Morada, new { @class = "form-control", rows = "4", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Email, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Email, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Loja.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        

                        <div class="form-group">

                            <div class="col-md-6">

                                @Html.LabelFor(model => model.Loja.Provincia, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Provincia, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.Loja.Provincia,
                                        (IEnumerable<SelectListItem>)ViewBag.Provincia, "Seleccionar Província", new { @class = "selectpicker form-control", @disabled = "disabled" })


                            </div>

                            <div class="col-md-6">
                               
                                        @Html.LabelFor(model => model.Loja.Telefone, htmlAttributes: new { @class = "control-label " })

                                        @Html.ValidationMessageFor(model => model.Loja.Telefone, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Loja.Telefone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                               

                            </div>



                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Horarios, htmlAttributes: new { @class = "control-label " })
                                &nbsp;<span style="font-size:12px;">(ex:  Segunda a Sexta das 8h00 às 15h00 )</span>
                                @Html.ValidationMessageFor(model => model.Loja.Horarios, "", new { @class = "text-danger" })
                                @Html.TextAreaFor(model => model.Loja.Horarios, new { @class = "form-control", rows = "4", @readonly = "readonly" })

                            </div>
                        </div>



                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Responsavel, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Responsavel, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Loja.Responsavel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Loja.Mapa, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Mapa, "", new { @class = "text-danger" })
                                @Html.TextAreaFor(model => model.Loja.Mapa, new { @class = "form-control", rows = "6", id = "MapaPartilhado", @readonly = "readonly" })

                            </div>

                            <div class="col-md-6">

                                <div id="DivMapaPreview" style="width:100%;height:300px!important;">
                              
                                </div>

                                <script type="text/javascript">
                                     $(
                                         function () {
                                             $("#DivMapaPreview").html($("#MapaPartilhado").val());
                                             $("#DivMapaPreview iframe").attr("width", "100%");
                                             $("#DivMapaPreview iframe").attr("height", "300px");
                                         }
                                     );
                                </script>


                            </div>

                        </div>


                    </div>
                </div>

            </div>



            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading" style="height:60px;">

                    <h4>Mais Informações</h4>

                </div>


                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Loja.Ordem, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Loja.Ordem, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Loja.Ordem, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>
                        <div class="form-group">
                            @for (int i = 0; i < Model.LojaTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.LojaTexto[i].CONF_Idioma.Id)



                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.LojaTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                   
                                    @Html.ValidationMessageFor(model => model.LojaTexto[i].Introducao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.LojaTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>


                            }
                        </div>

                        <div class="form-group">

                            @for (int i = 0; i < Model.LojaTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.LojaTexto[i].CONF_Idioma.Id)


                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.LojaTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                   
                                    @Html.ValidationMessageFor(model => model.LojaTexto[i].Conteudo, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(model => model.LojaTexto[i].Conteudo, new { @rows = 200, @class = "form-control", @id = i })
                                    <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@i');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                    </script>
                                </div>

                            }
                        </div>

                        <div class="form-group">
                            @for (int i = 0; i < Model.LojaTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.LojaTexto[i].CONF_Idioma.Id)



                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.LojaTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                               
                                    @Html.ValidationMessageFor(model => model.LojaTexto[i].Link, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.LojaTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>


                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class=" form-group">
                            @for (int i = 0; i < Model.LojaTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => model.LojaTexto[i].CONF_Idioma.Id)



                                <div class="col-md-12 ">



                                    <label class="control-label "><b>PDF</b></label>
                                    
                                    @if (!String.IsNullOrWhiteSpace(Model.LojaTexto[i].PDF))
                                    {
                                        <p style="cursor:pointer;padding:0;"><i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.LojaTexto[i].PDF)</p>

                                    }
                                    else
                                    {
                                        <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                    }

                                </div>





                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group">
                            @for (int i = 0; i < Model.LojaTexto.Count; i++)
                            {



                                <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                    <label class="control-label "><b>Imagem</b></label>
                                    (@Html.DisplayFor(model => model.LojaTexto[i].CONF_Idioma.Descricao))
                                    @if (!String.IsNullOrWhiteSpace(Model.LojaTexto[i].Imagem))
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.LojaTexto[i].Imagem)"
                                                 class="img-preview">
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                 class="img-preview">
                                        </p>
                                    }






                                </div>



                            }
                        </div>







                    </div>
                </div>

            </div>






            <div class="form-horizontal">

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Loja.Destaque, htmlAttributes: new { @class = "control-label" })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.Loja.Destaque, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.Loja.Destaque, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Loja.PartilhaFacebook, htmlAttributes: new { @class = "control-label" })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.Loja.PartilhaFacebook, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.Loja.PartilhaFacebook, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Loja.PartilhaTwitter, htmlAttributes: new { @class = "control-label" })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.Loja.PartilhaTwitter, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.Loja.PartilhaTwitter, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Loja.Activo, htmlAttributes: new { @class = "control-label " })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.Loja.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.Loja.Activo, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>



            </div>



        </div>

        @using (Html.BeginForm("ApagarLojaConfirmar", "Loja", FormMethod.Post
                              , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                              ))
        {

            @Html.HiddenFor(x => x.Loja.Id)
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<script type="text/javascript">

        $(document).ready(
            function () {
               

                $("#MapaPartilhado").on("change", function () {
                    $("#DivMapaPreview").html($(this).val());
                    $("#DivMapaPreview iframe").attr("width", "100%");
                    $("#DivMapaPreview iframe").attr("height", "300px");
                });

            }
        );

</script>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

    /*
    $(document).ready(
        function () {
            var val = $("#PrecoLoja").val();
            val = Number(val);
            $("#PrecoLoja").val(val.numberFormat(2, ',', '.'));
        }
    );
    */


    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }
</script>
