﻿
@{
    ViewBag.Title = "Loja";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/prettyPhoto.css" />

<section class="content-header">

    <h1>
        Lojas
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarLojaBanner", "Loja")" id="btnCriarLojaBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaLojaBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarLojaIntroducao", "Loja")" id="btnCriarLojaIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaLojaIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>





<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Lojas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarLoja", "Loja")" id="btnCriarLoja" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Loja</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaLoja" class="table table-striped table-bordered listaLoja"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>

<!-- Modal -->
<section>

    <div class="modal fade" id="CriarLojaBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarLojaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarLojaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="DetalhesLojaBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesLojaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesLojaBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarLojaBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarLojaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarLojaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarLojaBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarLojaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarLojaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemLojaBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemLojaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemLojaBannerContainer">

        </div>
    </div>





</section>

<section>

    <div class="modal fade" id="CriarLojaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="CriarLojaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarLojaIntroducaoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesLojaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesLojaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesLojaIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarLojaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarLojaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarLojaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarLojaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarLojaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarLojaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemLojaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemLojaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemLojaIntroducaoContainer">

        </div>
    </div>





</section>

<section>
 

    <div class="modal fade" id="CriarLojaModal" tabindex="-1" role="dialog" aria-labelledby="CriarLojaModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarLojaContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesLojaModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesLojaModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesLojaContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarLojaModal" tabindex="-1" role="dialog" aria-labelledby="ApagarLojaModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarLojaContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarLojaModal" tabindex="-1" role="dialog" aria-labelledby="EditarLojaModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarLojaContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemLojaModal" tabindex="-1" role="dialog" aria-labelledby="ImagemLojaModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemLojaContainer">

        </div>
    </div>





</section>


<section>





    <div class="modal fade" id="CriarLojaContactoModal" tabindex="-1" role="dialog" aria-labelledby="CriarLojaContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarLojaContactoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesLojaContactoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesLojaContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesLojaContactoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarLojaContactoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarLojaContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarLojaContactoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarLojaContactoModal" tabindex="-1" role="dialog" aria-labelledby="EditarLojaContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarLojaContactoContainer">

        </div>
    </div>





</section>

<!-- Banner -->
<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaLojaBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "Loja")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("LojaBannerImagem", "Loja")?id=' + data + '" class="verLojaBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesLojaBanner", "Loja")?id=' + data + '" class="detalhesLojaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarLojaBanner", "Loja")?id=' + data + '" class="editarLojaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarLojaBanner", "Loja")?id=' + data + '" class="apagarLojaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarLojaBanner').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarLojaBannerContainer').html(data);

                $('#CriarLojaBannerModal').modal('show');
            });


        });



        /* Detalhes Categoria  */
        $('#ListaLojaBanner').on("click", ".detalhesLojaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesLojaBannerContainer').html(data);

                $('#DetalhesLojaBannerModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaLojaBanner').on("click", ".editarLojaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarLojaBannerContainer').html(data);

                $('#EditarLojaBannerModal').modal('show');
            });


        });



        $('#ListaLojaBanner').on("click", ".verLojaBannerImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemLojaBannerContainer').html(data);

                $('#ImagemLojaBannerModal').modal('show');
            });


        });



        $('#ListaLojaBanner').on("click", ".apagarLojaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarLojaBannerContainer').html(data);

                $('#ApagarLojaBannerModal').modal('show');
            });


        });









    });






</script>

<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaLojaIntroducao').DataTable({


                    "serverSide": true,
                    "processing": true,


                    "ajax": {
                        "url": "@Url.Action("ListaLojaIntroducao", "Loja")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("LojaIntroducaoImagem", "Loja")?id=' + data + '" class="verLojaIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesLojaIntroducao", "Loja")?id=' + data + '" class="detalhesLojaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarLojaIntroducao", "Loja")?id=' + data + '" class="editarLojaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarLojaIntroducao", "Loja")?id=' + data + '" class="apagarLojaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();

        /* Detalhes Categoria  */
        $('#btnCriarLojaIntroducao').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarLojaIntroducaoContainer').html(data);

                $('#CriarLojaIntroducaoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaLojaIntroducao').on("click", ".detalhesLojaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesLojaIntroducaoContainer').html(data);

                $('#DetalhesLojaIntroducaoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaLojaIntroducao').on("click", ".editarLojaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarLojaIntroducaoContainer').html(data);

                $('#EditarLojaIntroducaoModal').modal('show');
            });


        });


        $('#ListaLojaIntroducao').on("click", ".verLojaIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemLojaIntroducaoContainer').html(data);

                $('#ImagemLojaIntroducaoModal').modal('show');
            });


        });


        $('#ListaLojaIntroducao').on("click", ".apagarLojaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarLojaIntroducaoContainer').html(data);

                $('#ApagarLojaIntroducaoModal').modal('show');
            });


        });









    });






</script>



<script type="text/javascript">

    var PROD_LojaList;
    $(function () {
        PROD_LojaList = {
            dt: null,

            init: function () {
                dt = $('#ListaLoja').DataTable({
                    "serverSide": true,
                    "processing": true,





                    "ajax": {
                        "url": "@Url.Action("ListaLoja", "Loja")",
                        "type" : "POST"
                    },


                    "columnDefs": [
                        { "width": "60px", "targets": 0 },
                        { "width": "230px", "targets": 1 }, //step 2, column 2 out of 4
                        { "width": "230px", "targets": 2 },  //step 2, column 3 out of 4
                        { "width": "100px", "targets": 3 },  //step 2, column 3 out of 4
                        { "width": "130px", "targets": 4 },  //step 2, column 3 out of 4
                        { "width": "80px", "targets": -1 }
                    ],



                    "columns": [
                        { "title": "Ordem", "data": "Ordem", "searchable": true },
                        { "title": "Nome", "data": "Nome", "searchable": true },
                        { "title": "Morada", "data": "Morada", "searchable": true },                       
                        { "title": "Província", "data": "Provincia", "searchable": true },
                        
                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("LojaImagem", "Loja")?id=' + data + '" class="verLojaImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        },
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true  style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesLoja", "Loja")?id=' + data + '" class="detalhesLoja" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarLoja", "Loja")?id=' + data + '" class="editarLoja" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarLoja", "Loja")?id=' + data + '" class="apagarLoja" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_LojaList.init();


        $('#btnCriarLoja').click(function() {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarLojaContainer').html(data);

                $('#CriarLojaModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        $('#ListaLoja').on("click", ".editarLoja", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#EditarLojaContainer').html(data);

                $('#EditarLojaModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        /* Detalhes Categoria  */
        $('#ListaLoja').on("click", ".detalhesLoja", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesLojaContainer').html(data);

                $('#DetalhesLojaModal').modal('show');
            });


        });


        $('#ListaLoja').on("click", ".apagarLoja", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarLojaContainer').html(data);

                $('#ApagarLojaModal').modal('show');
            });


        });


        $('#ListaLoja').on("click", ".verLojaImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemLojaContainer').html(data);

                $('#ImagemLojaModal').modal('show');
            });


        });









    });


    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }

</script>


<script type="text/javascript">

    var LOJA_ContactoList;
    $(function () {
        LOJA_ContactoList = {
            dt: null,

            init: function () {
                dt = $('#ListaLojaContacto').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,



                    "ajax": {
                        "url": "@Url.Action("ListaLojaContacto", "Loja")"
                    },



                    "columnDefs": [

                        { "width": "60px", "targets": 0 }, //step 2, column 2 out of 4
                        { "width": '70px', "targets": -1 },  //step 2, column 3 out of 4
                        { "width": '70px', "targets": -2 }
                    ],



                    "columns": [
                        { "title": "Ordem", "data": "Ordem", "searchable": true },
                        { "title": "Típo", "data": "Tipo", "searchable": true },
                        { "title": "Descrição", "data": "Descricao", "searchable": true },

                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i  class="fa fa-book" aria-hidden="true" style="color:#e74c3c;"></i>';
                                }

                            }
                        },


                        {
                            "title": "Opções",
                            "data": "Opcoes",
                            "searchable": false,
                            "sortable": false,

                            "render": function (data, type, full, meta) {
                                return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesLojaContacto", "Loja")?id=' + data + '" class="detalhesLojaContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarLojaContacto", "Loja")?id=' + data + '" class="editarLojaContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarLojaContacto", "Loja")?id=' + data + '" class="apagarLojaContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                            }
                        }

                    ]
                    ,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        LOJA_ContactoList.init();


        /* Criar Categoria */
        $('#btnCriarLojaContacto').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarLojaContactoContainer').html(data);

                $('#CriarLojaContactoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaLojaContacto').on("click", ".detalhesLojaContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesLojaContactoContainer').html(data);

                $('#DetalhesLojaContactoModal').modal('show');
            });


        });

        $('#ListaLojaContacto').on("click", ".editarLojaContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarLojaContactoContainer').html(data);

                $('#EditarLojaContactoModal').modal('show');
            });


        });

        $('#ListaLojaContacto').on("click", ".apagarLojaContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarLojaContactoContainer').html(data);

                $('#ApagarLojaContactoModal').modal('show');
            });


        });





    });


</script>


<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>