﻿@model Webtech_Office.Models.ProdutoBannerViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Apagar Banner</h4>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->


            <div class="form-horizontal">




                @for (int i = 0; i < Model.ProdutoBannerTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.ProdutoBannerTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ProdutoBannerTexto[i].Titulo, htmlAttributes: new { @class = "control-label " })
                            @Html.DisplayFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Codigo)
                            @Html.ValidationMessageFor(model => model.ProdutoBannerTexto[i].Titulo, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.ProdutoBannerTexto[i].Titulo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }

                @for (int i = 0; i < Model.ProdutoBannerTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.ProdutoBannerTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ProdutoBannerTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                            @Html.DisplayFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Codigo)
                            @Html.ValidationMessageFor(model => model.ProdutoBannerTexto[i].Introducao, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.ProdutoBannerTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }



                @for (int i = 0; i < Model.ProdutoBannerTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.ProdutoBannerTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ProdutoBannerTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                            @Html.DisplayFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Codigo)
                            @Html.ValidationMessageFor(model => model.ProdutoBannerTexto[i].Link, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.ProdutoBannerTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }

                @for (int i = 0; i < Model.ProdutoBannerTexto.Count; i++)
                {
                    @Html.HiddenFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">

                            <label class="control-label "><b>PDF</b></label>
                            @Html.DisplayFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Codigo)
                            <p class="parag-pdf"><i class="fa fa-file-pdf-o pdf" aria-hidden="true"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ProdutoBannerTexto[i].PDF)</p>




                        </div>
                    </div>

                }

                @for (int i = 0; i < Model.ProdutoBannerTexto.Count; i++)
                {

                    <div class="form-group">

                        <div class="col-md-12" id="@String.Concat("divImg_", i)">

                            <label class="control-label "><b>Imagem</b></label>
                            @Html.DisplayFor(model => model.ProdutoBannerTexto[i].CONF_Idioma.Codigo)
                            <p>
                                <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ProdutoBannerTexto[i].Imagem)"
                                     class="img-preview">

                            </p>

                        </div>
                    </div>


                }


                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ProdutoBanner.Activo, htmlAttributes: new { @class = "control-label " })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.ProdutoBanner.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.ProdutoBanner.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>


                </div>



            </div>



        </div>

        @using (Ajax.BeginForm("ApagarProdutoBannerConfirmar", "Produto", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApagarProdutoBannerSucesso(data)" }
                              , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                              ))
        {

            @Html.HiddenFor(x => x.ProdutoBanner.Id)
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

    /*
    $(document).ready(
        function () {
            var val = $("#PrecoProduto").val();
            val = Number(val);
            $("#PrecoProduto").val(val.numberFormat(2, ',', '.'));
        }
    );
    */

    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }
</script>

