﻿
@model Webtech_Office.Models.ProdutoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>


<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Apagar Produto</h3>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->

            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">

                    <h4>Informação</h4>

                </div>

                <div class="panel-body  ">
                    <div class="form-horizontal">


                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Ordem, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Produto.Ordem, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Produto.Ordem, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">


                            <div class="col-md-10">
                                <label class="control-label "><b>Categoria</b>&nbsp;<b style="color:red">*</b></label>


                                @Html.ValidationMessageFor(model => model.CategoriaProduto, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.Produto.CategoriaId,
                                        (IEnumerable<SelectListItem>)ViewBag.CategoriaProduto, "Seleccionar Tipo", new { @class = "selectpicker form-control", @readonly = "readonly", disabled = "disabled" })

                            </div>
                        </div>



                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ProdutoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Descricao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ProdutoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ProdutoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Introducao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ProdutoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }

                        <div class="form-group">

                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Produto.Preco, htmlAttributes: new { @class = "control-label " })
                                &nbsp;<b>KZ</b>
                                @Html.ValidationMessageFor(model => model.Produto.Preco, "", new { @class = "text-danger" })
                                &nbsp;<b style="color:red">*</b>
                                @Html.EditorFor(model => model.Produto.Preco, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control required numeric"
                                   ,
                                   @readonly = "readonly"
                                ,
                                   Value = String.Format("{0:0.##}", Model.Produto.Preco)
                               }
                           })

                            </div>

                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Produto.Desconto, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Produto.Desconto, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Produto.Desconto, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control descontos ",
                                   id = "Desconto",
                                   @readonly = "readonly"
                                   ,
                                   Value = String.Format("{0:0.##}", Model.Produto.Desconto)
                               }
                           })
                                &nbsp;<strong>%</strong>
                            </div>

                            <div class="col-md-3">

                                <label class="control-label">Preço com Desconto&nbsp;KZ</label>


                                <input type="text" id="pcd" class="form-control" name="pcd" disabled="disabled" />

                            </div>

                        </div>

                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ProdutoTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Conteudo, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(model => model.ProdutoTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = "Conteudo_TXT", @readonly = "readonly" })
                                    <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('Conteudo_TXT');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                    </script>
                                </div>
                            </div>
                        }



                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ProdutoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Link, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ProdutoTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => model.ProdutoTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">

                                    <label class="control-label "><b>PDF</b></label>
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    <p class="parag-pdf"><i class="fa fa-file-pdf-o pdf" aria-hidden="true"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ProdutoTexto[i].PDF)</p>




                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                        {

                            <div class="form-group">

                                <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                    <label class="control-label "><b>Imagem</b></label>
                                    @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                    <p>
                                        <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ProdutoTexto[i].Imagem)"
                                             class="img-preview">

                                    </p>

                                </div>
                            </div>


                        }
                        <!--


                        -->
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Destaques, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Destaques, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Destaques, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Novidades, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Novidades, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Novidades, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.PartilhaFacebook, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.PartilhaFacebook, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.PartilhaFacebook, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.PartilhaTwitter, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.PartilhaTwitter, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.PartilhaTwitter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>



                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Activo, htmlAttributes: new { @class = "control-label " })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Activo, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                    </div>



                </div>
            </div>

                @using (Html.BeginForm("ApagarProdutoConfirmar", "Produto", FormMethod.Post
                      , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                      ))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="id" name="id" value="@Model.Produto.Id" />
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <input type="submit" class="btn btn-primary" value="Confirmar" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .descontos {
        width: 80% !important;
        display: inline !important;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>

    <script type="text/javascript">

        $(document).ready(
            function () {

                var preco = Number($("#Preco").val());
                var desconto = Number($("#Desconto").val());
                var pcd = $("#pcd").val();

                var result = preco - (preco * (desconto / 100));

                $("#pcd").val(result);

                $("#Preco, #Desconto").on("change", function () {
                    var preco = Number($("#Preco").val());
                    var desconto = Number($("#Desconto").val());
                    var pcd = $("#pcd").val();

                    var result = preco - (preco * (desconto / 100));

                    $("#pcd").val(result);
                });

            }
        );

    </script>





<script type="text/javascript">

    /*
    $(document).ready(
        function () {
            var val = $("#PrecoProduto").val();
            val = Number(val);
            $("#PrecoProduto").val(val.numberFormat(2, ',', '.'));
        }
    );
    */


    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }
</script>
