﻿@model  Webtech_Office.Models.CategoriaProdutoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>


<div class="modal-dialog create-modal" style="width:60%!important;vertical-align:middle;margin:30px auto!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Apagar Categoria</h3>
        </div>


        <div class="modal-body">
            <!-- Custom Tabs -->


            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @for (int i = 0; i < Model.CategoriaProdutoTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.CategoriaProdutoTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.CategoriaProdutoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.ValidationMessageFor(model => model.CategoriaProdutoTexto[i].Descricao, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.CategoriaProdutoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }

                <div class="form-group">


                    <div class="col-md-10">
                        @Html.LabelFor(model => model.CategoriaProduto.Activo, htmlAttributes: new { @class = "control-label " })

                        &nbsp;
                        @Html.ValidationMessageFor(model => model.CategoriaProduto.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.CategoriaProduto.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>



            </div>


            <!-- /.tab-content -->

        </div>
        @using (Html.BeginForm("ApagarCategoriaProdutoConfirmar", "Produto", FormMethod.Post 
                         , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                         ))
        {

            <input type="hidden" id="id" name="id" value="@Model.CategoriaProduto.Id" />
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

