﻿@model Webtech_Office.Models.ProdutoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir Loja</title>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>

    <div class="modal-dialog create-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Inserir Produto</h3>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("CriarProduto", "Produto", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <!-- Custom Tabs -->

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="panel panel-primary list-panel" id="list-panel">
                        <div class="panel-heading" style="height:60px;">

                            <h4>Informação</h4>

                        </div>

                        <div class="panel-body  ">
                            <div class="form-horizontal">


                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Produto.Ordem, htmlAttributes: new { @class = "control-label " })

                                        @Html.ValidationMessageFor(model => model.Produto.Ordem, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Produto.Ordem, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>

                                <div class="form-group">


                                    <div class="col-md-10">
                                        <label class="control-label "><b>Categoria</b>&nbsp;<b style="color:red">*</b></label>


                                        @Html.ValidationMessageFor(model => model.Produto.CategoriaId, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(model => model.Produto.CategoriaId,
                                        (IEnumerable<SelectListItem>)ViewBag.CategoriaProduto, "Seleccionar Tipo", new { @class = "selectpicker form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Produto.Codigo, htmlAttributes: new { @class = "control-label " })
                                        &nbsp;<b style="color:red">*</b>

                                        @Html.ValidationMessageFor(model => model.Produto.Codigo, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Produto.Codigo, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>

                                @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ProdutoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                            &nbsp;<b style="color:red">*</b>
                                           
                                            @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Descricao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.ProdutoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ProdutoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Introducao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.ProdutoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }



                                <div class="form-group">

                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.Produto.Preco, htmlAttributes: new { @class = "control-label " })
                                        &nbsp;<b>KZ</b>
                                        @Html.ValidationMessageFor(model => model.Produto.Preco, "", new { @class = "text-danger" })
                                        &nbsp;<b style="color:red">*</b>
                                        @Html.EditorFor(model => model.Produto.Preco, new { htmlAttributes = new { @class = "form-control required numeric", id="Preco",
                                       Value = String.Format("{0:0.##}", Model.Produto.Preco)
                                   }
                                   })

                                    </div>

                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.Produto.Desconto, htmlAttributes: new { @class = "control-label " })

                                        @Html.ValidationMessageFor(model => model.Produto.Desconto, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Produto.Desconto, new { htmlAttributes = new { @class = "form-control descontos ", id="Desconto"
                                   ,
                                       Value = String.Format("{0:0.##}", Model.Produto.Desconto)
                                   } })
                                       &nbsp;<strong>%</strong>
                                    </div>

                                    <div class="col-md-3">

                                        @*<label class="control-label">Preço com Desconto&nbsp;KZ</label>                                        

                                        
                                        <input type="text" id="pcd" class="form-control" name="pcd" disabled="disabled" />*@
                                        @Html.LabelFor(model => model.Produto.PrecoComDesconto, htmlAttributes: new { @class = "control-label " })
                                        &nbsp;<b>KZ</b>
                                        @Html.ValidationMessageFor(model => model.Produto.PrecoComDesconto, "", new { @class = "text-danger" })
                                        &nbsp;<b style="color:red">*</b>
                                        @Html.EditorFor(model => model.Produto.PrecoComDesconto, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control required numeric",
                                           id = "PrecoComDesconto",
                                           Value = String.Format("{0:0.##}", Model.Produto.PrecoComDesconto)
                                       }
                                   })

                                    </div>

                                </div>

                                <div class="form-group">

                                   
                                </div>





                                @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ProdutoTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                          
                                            @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Conteudo, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.ProdutoTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = "Conteudo_TXT" })
                                            <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('Conteudo_TXT');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                            </script>
                                        </div>
                                    </div>
                                }



                                @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ProdutoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                           
                                            @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Link, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.ProdutoTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.FileDocumento.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12">

                                            <label class="control-label "><b>Anexo</b></label>
                                           
                                            @Html.EditorFor(model => @Model.FileDocumento[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })



                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.File.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.ProdutoTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                            <label class="control-label "><b>Imagem</b></label>
                                            @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                            @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                            <img id="@String.Concat("Img_", i)" class="img-preview">
                                            <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                    readURL(this, "@String.Concat("#Img_", i)");
                                                });
                                            </script>

                                        </div>
                                    </div>

                                }


                            </div>
                        </div>

                    </div>










                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Destaques, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Destaques, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Destaques, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Novidades, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Novidades, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Novidades, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.PartilhaFacebook, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.PartilhaFacebook, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.PartilhaFacebook, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.PartilhaTwitter, htmlAttributes: new { @class = "control-label" })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.PartilhaTwitter, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.PartilhaTwitter, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>



                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Produto.Activo, htmlAttributes: new { @class = "control-label " })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Produto.Activo, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Produto.Activo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    </div>




                    







                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" >Fechar</button>
                                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                                    </div>
                                </div>
                            </div>
                }


            </div>

        </div>
    </div>

    <style type="text/css">
        .img-preview {
            height: 250px;
            width: auto;
        }

        .descontos{
            width:80%!important;
            display:inline!important;
        }
    </style>


    <script type="text/javascript">

                                                $(document).ready(
                                                    function () {

                                                        $("#Preco, #Desconto").on("change", function () {
                                                            var preco = Number($("#Preco").val());
                                                            var desconto = Number($("#Desconto").val());
                                                            var pcd = $("#pcd").val();
                                                          
                                                            var result = preco - (preco * (desconto / 100));
                                                           
                                                            $("#pcd").val(result);
                                                        });

                                                    }
                                                );

    </script>

    <script type="text/javascript">

                                                $("#CancelRedirect").click(
                                                    function () {
                                                        window.location = "/Produto/Produtos";
                                                    }
                                                );



                                                function readURL(input, img) {
                                                    for (var i = 0; i < input.files.length; i++) {
                                                        if (input.files[i]) {
                                                            var reader = new FileReader();

                                                            reader.onload = function (e) {
                                                                $(img).attr('src', e.target.result);
                                                                $(img).css("display", "block");
                                                            }
                                                            reader.readAsDataURL(input.files[i]);
                                                        }
                                                    }


                                                }

                                                $(document).ready(
                                                    function () {

                                                        $("#Preco").val("0");

                                                        $("#MapaPartilhado").change(

                                                            function () {
                                                                var mapa = $("#MapaPartilhado").val();
                                                                document.getElementById("#DivMapaPreview").innerHTML = "";
                                                                document.getElementById("#DivMapaPreview").innerHTML = mapa;
                                                            }
                                                        );
                                                    }

                                                );




    </script>
</body>
</html>
