﻿
@{
    ViewBag.Title = "Produtos";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/prettyPhoto.css" />

<section class="content-header">

    <h1>
        <i class="fa fa-product-hunt" aria-hidden="true"></i> Produto
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarProdutoBanner", "Produto")" id="btnCriarProdutoBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" href="@Url.Action("CriarProdutoIntroducao", "Produto")" id="btnCriarProdutoIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaProdutoIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Categoria</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarCategoriaProduto", "Produto")" id="btnCriarCategoriaProduto" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Categoria</button>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaCategoriaProduto" class="table table-striped table-bordered" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Produtos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a  class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarProduto", "Produto")" id="btnCriarProduto" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Produto</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaProduto" class="table table-striped table-bordered listaProduto" >

                  
                           
                 
                    </table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>






<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>


<!-- Modal -->
<section>

    <div class="modal fade" id="CriarProdutoBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarProdutoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarProdutoBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="DetalhesProdutoBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesProdutoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesProdutoBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarProdutoBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarProdutoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarProdutoBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarProdutoBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarProdutoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarProdutoBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemBannerContainer">

        </div>
    </div>





</section>

<section>



    <div class="modal fade" id="DetalhesProdutoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesProdutoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesProdutoIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarProdutoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarProdutoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarProdutoIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarProdutoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarProdutoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemProdutoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemProdutoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemProdutoIntroducaoContainer">

        </div>
    </div>





</section>

<section>





    <div class="modal fade" id="CriarCategoriaProdutoModal" tabindex="-1" role="dialog" aria-labelledby="CriarCategoriaProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarCategoriaProdutoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesCategoriaProdutoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesCategoriaProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesCategoriaProdutoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarCategoriaProdutoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarCategoriaProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarCategoriaProdutoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarCategoriaProdutoModal" tabindex="-1" role="dialog" aria-labelledby="EditarCategoriaProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarCategoriaProdutoContainer">

        </div>
    </div>





</section>


<section>


    <div class="modal fade" id="CriarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="CriarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarProdutoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesProdutoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesProdutoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarProdutoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="EditarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarProdutoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemProdutoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemProdutoContainer">

        </div>
    </div>    
</section>

<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>

<!-- Banner -->
<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "Produto")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4
                        
                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },
                       

                       



                   

                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ProdutoBannerImagem", "Produto")?id=' + data + '" class="verProdutoBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesProdutoBanner", "Produto")?id=' + data + '" class="detalhesProdutoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarProdutoBanner", "Produto")?id=' + data + '" class="editarProdutoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarProdutoBanner", "Produto")?id=' + data + '" class="apagarProdutoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();



        $('#btnCriarProdutoBanner').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarProdutoBannerContainer').html(data);

                $('#CriarProdutoBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });



        /* Detalhes Categoria  */
        $('#ListaBanner').on("click", ".detalhesProdutoBanner", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#DetalhesProdutoBannerContainer').html(data);

                $('#DetalhesProdutoBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaBanner').on("click", ".editarProdutoBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#EditarProdutoBannerContainer').html(data);

                $('#EditarProdutoBannerModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaBanner').on("click", ".verProdutoBannerImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ImagemProdutoBannerContainer').html(data);

                $('#ImagemProdutoBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaBanner').on("click", ".apagarProdutoBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ApagarProdutoBannerContainer').html(data);

                $('#ApagarProdutoBannerModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });












    });






</script>

<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaProdutoIntroducao').DataTable({
                    
                   
                    "serverSide": true,
                    "processing": true,
                    

                    "ajax": {
                        "url": "@Url.Action("ListaProdutoIntroducao", "Produto")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ProdutoIntroducaoImagem", "Produto")?id=' + data + '" class="verProdutoIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesProdutoIntroducao", "Produto")?id=' + data + '" class="detalhesProdutoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a href="@Url.Action("EditarProdutoIntroducao", "Produto")?id=' + data + '" class="editarProdutoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarProdutoIntroducao", "Produto")?id=' + data + '" class="apagarProdutoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();



        /* Detalhes Categoria  */
        $('#ListaProdutoIntroducao').on("click", ".detalhesProdutoIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesProdutoIntroducaoContainer').html(data);

                $('#DetalhesProdutoIntroducaoModal').modal('show');
            });


        });


        $('#ListaProdutoIntroducao').on("click", ".verProdutoIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemProdutoIntroducaoContainer').html(data);

                $('#ImagemProdutoIntroducaoModal').modal('show');
            });


        });


        $('#ListaProdutoIntroducao').on("click", ".apagarProdutoIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarProdutoIntroducaoContainer').html(data);

                $('#ApagarProdutoIntroducaoModal').modal('show');
            });


        });









    });






</script>

<script type="text/javascript">

    var PROD_CategoriaProdutoList;
    $(function () {
        PROD_CategoriaProdutoList = {
            dt: null,

            init: function () {
                dt = $('#ListaCategoriaProduto').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,



                    "ajax": {
                        "url": "@Url.Action("ListaCategoriaProduto", "Produto")"
                    },



                    "columnDefs": [

                        { "width": "70px", "targets": 1 }, //step 2, column 2 out of 4
                        { "width": '70px', "targets": 2 }  //step 2, column 3 out of 4
                    ],



                    "columns": [
                        { "title": "Descrição", "data": "Descricao", "searchable": true },

                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i  class="fa fa-book" aria-hidden="true" style="color:#e74c3c;"></i>';
                                }

                            }
                        },


                        {
                            "title": "Opções",
                            "data": "CategoriaId",
                            "searchable": false,
                            "sortable": false,

                            "render": function (data, type, full, meta) {
                                return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesCategoriaProduto", "Produto")?id=' + data + '" class="detalhesCategoriaProduto" style="text-decoration:none;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarCategoriaProduto", "Produto")?id=' + data + '" class="editarCategoriaProduto" style="text-decoration:none;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarCategoriaProduto", "Produto")?id=' + data + '" class="apagarCategoriaProduto" style="text-decoration:none;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                            }
                        }

                    ]
                    ,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_CategoriaProdutoList.init();


        /* Criar Categoria */
        $('#btnCriarCategoriaProduto').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarCategoriaProdutoContainer').html(data);

                $('#CriarCategoriaProdutoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaCategoriaProduto').on("click", ".detalhesCategoriaProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesCategoriaProdutoContainer').html(data);

                $('#DetalhesCategoriaProdutoModal').modal('show');
            });


        });

        $('#ListaCategoriaProduto').on("click", ".editarCategoriaProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarCategoriaProdutoContainer').html(data);

                $('#EditarCategoriaProdutoModal').modal('show');
            });


        });

        $('#ListaCategoriaProduto').on("click", ".apagarCategoriaProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarCategoriaProdutoContainer').html(data);

                $('#ApagarCategoriaProdutoModal').modal('show');
            });


        });


       


    });


    function CriarCategoriaProduto(data) {

        if (data != "sucesso") {
            $('#CriarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#CriarCategoriaProdutoModal').modal('hide');
        $('#CriarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }  

    function EditarCategoriaProdutoSucesso(data) {

        if (data != "sucesso") {
            $('#EditarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#EditarCategoriaProdutoModal').modal('hide');
        $('#EditarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }  


</script>

<script type="text/javascript">

    var PROD_ProdutoList;
    $(function () {
        PROD_ProdutoList = {
            dt: null,

            init: function () {
                dt = $('#ListaProduto').DataTable({
                    "serverSide": true,
                    "processing": true,

                    
                   
                   

                    "ajax": {
                        "url": "@Url.Action("ListaProduto", "Produto")",
                        "type" : "POST"
                    },
    

                    "columnDefs": [
                        { "width": "80px", "targets": 0},
                        { "width": "230px", "targets": 1 }, //step 2, column 2 out of 4
                        { "width": "230px", "targets": 2 },  //step 2, column 3 out of 4
                        { "width": "100px", "targets": 3 },  //step 2, column 3 out of 4
                        { "width": "130px", "targets": 4 },  //step 2, column 3 out of 4
                        { "width": "80px", "targets": -1 }
                    ],



                    "columns": [
                        { "title": "Ordem", "data": "Ordem", "searchable": true },
                        { "title": "Descrição", "data": "Descricao", "searchable": true },

                        {
                            "title": "Preço (Kz)",
                            "data": "Preco",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                              
                                return data.numberFormat(2, ',', '.');
                              

                            }
                        },

                        { "title": "Desconto(%)", "data": "Desconto", "searchable": true },                        

                       

                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ProdutoImagem", "Produto")?id=' + data + '" class="verProdutoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        },
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true  style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesProduto", "Produto")?id=' + data + '" class="detalhesProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarProduto", "Produto")?id=' + data + '" class="editarProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarProduto", "Produto")?id=' + data + '" class="apagarProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_ProdutoList.init();

        $('#btnCriarProduto').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarProdutoContainer').html(data);

                $('#CriarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaProduto').on("click", ".detalhesProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#DetalhesProdutoContainer').html(data);

                $('#DetalhesProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaProduto').on("click", ".editarProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').stop().fadeOut('fast');
            $.get(url, function (data) {
                $('#EditarProdutoContainer').html(data);

                $('#EditarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

     

        $('#ListaProduto').on("click", ".apagarProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').stop().fadeOut('fast');
            $.get(url, function (data) {
                $('#ApagarProdutoContainer').html(data);

                $('#ApagarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaProduto').on("click", ".verProdutoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemProdutoContainer').html(data);

                $('#ImagemProdutoModal').modal('show');
            });


        });



    

       



    });


    function CriarCategoriaProduto(data) {

        if (data != "sucesso") {
            $('#CriarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#CriarCategoriaProdutoModal').modal('hide');
        $('#CriarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }

    function EditarCategoriaProdutoSucesso(data) {

        if (data != "sucesso") {
            $('#EditarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#EditarCategoriaProdutoModal').modal('hide');
        $('#EditarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }



    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }

</script>


<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>