﻿
@{
    ViewBag.Title = "Produtos";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>


<section class="content-header">

    <h1>
        <i class="fa fa-product-hunt" aria-hidden="true"></i> Produto
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>



<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Produtos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarProduto", "Produto")" id="btnCriarProduto" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Produto</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaProduto" class="table table-striped table-bordered "></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>


<!-- Modal -->
<section>


    <div class="modal fade" id="CriarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="CriarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarProdutoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesProdutoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesProdutoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarProdutoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="EditarProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarProdutoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemProdutoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemProdutoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemProdutoContainer">

        </div>
    </div>
</section>

<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>


<script type="text/javascript">

    var PROD_ProdutoList;
    $(function () {
        PROD_ProdutoList = {
            dt: null,

            init: function () {
                dt = $('#ListaProduto').DataTable({
                    "serverSide": true,
                    "processing": true,





                    "ajax": {
                        "url": "@Url.Action("ListaProduto", "Produto")",
                        "type" : "POST"
                    },


                    "columnDefs": [
                        { "width": "9%", "targets": 0 },
                        { "width": "130px", "targets": 1 }, //step 2, column 2 out of 4
                        { "width": "230px", "targets": 2 },  //step 2, column 3 out of 4
                        { "width": "130px", "targets": 3 },  //step 2, column 3 out of 4
                        { "width": "130px", "targets": 4 },  //step 2, column 3 out of 4
                        { "width": "80px", "targets": -1 }
                    ],

                    fixedColumns: true,

                    "columns": [
                        { "title": "Ordem", "data": "Ordem", "searchable": true},
                        { "title": "Categoria", "data": "Categoria", "searchable": true },
                        { "title": "Descrição", "data": "Descricao", "searchable": true },

                        {
                            "title": "Preço (Kz)",
                            "data": "Preco",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {

                                return data.numberFormat(2, ',', '.');


                            }
                        },

                        { "title": "Desconto(%)", "data": "Desconto", "searchable": true },



                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ProdutoImagem", "Produto")?id=' + data + '" class="verProdutoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        },
                        {
                            "title": "Destaque",
                            "data": "Destaque",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true  style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true  style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesProduto", "Produto")?id=' + data + '" class="detalhesProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarProduto", "Produto")?id=' + data + '" class="editarProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarProduto", "Produto")?id=' + data + '" class="apagarProduto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_ProdutoList.init();

        $('#btnCriarProduto').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarProdutoContainer').html(data);

                $('#CriarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaProduto').on("click", ".detalhesProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#DetalhesProdutoContainer').html(data);

                $('#DetalhesProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaProduto').on("click", ".editarProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#EditarProdutoContainer').html(data);

                $('#EditarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaProduto').on("click", ".apagarProduto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ApagarProdutoContainer').html(data);

                $('#ApagarProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaProduto').on("click", ".verProdutoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ImagemProdutoContainer').html(data);

                $('#ImagemProdutoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });









    });


    function CriarCategoriaProduto(data) {

        if (data != "sucesso") {
            $('#CriarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#CriarCategoriaProdutoModal').modal('hide');
        $('#CriarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }

    function EditarCategoriaProdutoSucesso(data) {

        if (data != "sucesso") {
            $('#EditarCategoriaProdutoContainer').html(data);
            return;
        }
        $('#EditarCategoriaProdutoModal').modal('hide');
        $('#EditarCategoriaProdutoContainer').html("");
        RECE_ListaTipoProdutos.refresh();

    }



    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }

</script>
