﻿@model Webtech_Office.Models.ProdutoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-product-hunt" aria-hidden="true"></i> Produto

    </h1>
</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>


<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Editar</h4>
        </div>
        @using (Html.BeginForm("EditarProduto", "Produto", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <!-- Custom Tabs -->

                @Html.HiddenFor(model => Model.Produto.Id)

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="form-group">


                        <div class="col-md-10">
                            <label class="control-label "><b>Categoria</b>&nbsp;<b style="color:red">*</b></label>


                            @Html.ValidationMessageFor(model => model.CategoriaProduto, "", new { @class = "text-danger" })
                            @Html.DropDownListFor(model => model.Produto.CategoriaId,
                                        (IEnumerable<SelectListItem>)ViewBag.CategoriaProduto, "Seleccionar Tipo", new { @class = "selectpicker form-control" })

                        </div>
                    </div>



                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.ProdutoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Descricao, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ProdutoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    }

                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.ProdutoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Introducao, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ProdutoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    }

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label " })

                            @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Desconto, htmlAttributes: new { @class = "control-label " })

                            @Html.ValidationMessageFor(model => model.Desconto, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Desconto, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.ProdutoTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Conteudo, "", new { @class = "text-danger" })
                                @Html.TextAreaFor(model => model.ProdutoTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = @i })
                                <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@i');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                </script>
                            </div>
                        </div>
                    }



                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.ProdutoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)
                                @Html.ValidationMessageFor(model => model.ProdutoTexto[i].Link, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ProdutoTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    }

                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].PDF)
                        <div class="form-group">

                            <div class="col-md-12">

                                <label class="control-label "><b>PDF</b>&nbsp; </label>&nbsp;@Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo) (<span style="color:red;">O ficheiro seleccionado, vai substituir o actual!</span>)
                                <p class="parag-pdf"><i class="fa fa-file-pdf-o pdf" aria-hidden="true"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ProdutoTexto[i].PDF)</p>

                                @Html.EditorFor(model => @Model.FileDocumento[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })



                            </div>
                        </div>

                    }

                    @for (int i = 0; i < Model.ProdutoTexto.Count; i++)
                    {
                        @Html.HiddenFor(model => model.ProdutoTexto[i].CONF_Idioma.Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Id)
                        @Html.HiddenFor(model => @Model.ProdutoTexto[i].Imagem)

                        <div class="form-group">

                            <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                <label class="control-label "><b>Imagem</b></label>&nbsp;@Html.DisplayFor(model => model.ProdutoTexto[i].CONF_Idioma.Codigo)&nbsp; (<span style="color:red;">
                                    A imagem seleccionada, vai substituir a actual!
                                </span>)

                                @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ProdutoTexto[i].Imagem)"
                                     class="img-preview">
                                <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                         readURL(this, "@String.Concat("#Img_", i)");
                                                  });
                                </script>

                            </div>
                        </div>

                    }
                    <!--


                        -->

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.Promocoes, htmlAttributes: new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.Promocoes, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.Promocoes, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.Destaques, htmlAttributes: new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.Destaques, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.Destaques, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.Novidades, htmlAttributes: new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.Novidades, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.Novidades, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.PartilhaFacebook, htmlAttributes: new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.PartilhaFacebook, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.PartilhaFacebook, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.PartilhaTwitter, htmlAttributes: new { @class = "control-label" })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.PartilhaTwitter, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.PartilhaTwitter, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Produto.Activo, htmlAttributes: new { @class = "control-label " })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Produto.Activo, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Produto.Activo, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                </div>



            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<script type="text/javascript">

                                                function FormatarMoeda () {
                                                    var val = $("#PrecoProduto").val();
                                                    val = Number(val);
                                                    $("#PrecoProduto").val(val.numberFormat(2, ',', '.'));
                                                }
    /*
                                                $(document).ready(
                                                    function () {
                                                        FormatarMoeda();


                                                        $("#PrecoProduto").change(function () {

                                                            FormatarMoeda();
                                                        });

                                                    }
                                                );

    */

    $("#CancelRedirect").click(
        function () {
             window.location = "/Produto/Index";
        }
     );




    function readURL(input, img) {
        for (var i = 0; i < input.files.length; i++) {
            if (input.files[i]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                    $(img).css("display", "block");
                }
                reader.readAsDataURL(input.files[i]);
            }
        }


    }

    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }




</script>

