﻿
@model Webtech_Office.Models.ImagemViewModel
@{
    Layout = null;
}
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="modal-dialog create-modal" style="width:70%!important;margin-top:20px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;&nbsp;Imagem Loja</h3>
        </div>

        <img src="@String.Concat(@Url.Content("~/Content/files/anexos/"), Model.Imagem)" style="width:100%;height:500px;" />

    </div>
</div>




