﻿@model Webtech_Office.Models.LinkVideoModel
@{
    Layout = null;
}
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-picture-o" aria-hidden="true"></i> Media

    </h1>
</section>

<div class="modal-dialog create-modal"style="width:60%!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
         
        </div>
       
        <iframe style="width:100%;height:500px;" src="https://www.youtube.com/embed/ZFaaQjX1X7Y" frameborder="0" allowfullscreen></iframe>

    </div>
</div>



