﻿@model Webtech_Office.Models.MidiaViewModel


<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Criar Conteudo</h4>
        </div>
        @using (Html.BeginForm("CriarMediaConteudo", "Midia", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Conteudo</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Anexos</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1" style="border:none!important;">

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                              
                                
                                    <div class="form-group">
                                      
                                        
                                        <div class="col-md-10">
                                            @Html.LabelFor(model => model.TipoMidia.Descricao, htmlAttributes: new { @class = "control-label " })
                                          

                                            @Html.ValidationMessageFor(model => model.TipoMidia.Descricao, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.Midia.TipoMidia,
                                        (IEnumerable<SelectListItem>)ViewBag.TipoMidia, "Seleccionar Idioma", new { @class = "selectpicker form-control" }
                            )
                                        </div>
                                    </div>
                            


                                @for (int i = 0; i < Model.MidiaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MidiaTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.MidiaTexto[i].Descricao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MidiaTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.MidiaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MidiaTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.MidiaTexto[i].Introducao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MidiaTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.MidiaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MidiaTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.MidiaTexto[i].Conteudo, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.MidiaTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = @i })
                                            <script>

                                            CKEDITOR.replace('@i');
                                            CKEDITOR.Add



                                            </script>
                                        </div>
                                    </div>
                                }

                                @for (int i = 0; i < Model.MidiaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MidiaTexto[i].PalavraChave, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                            <p>Termos usados para pesquisa em motores de busca, Separar por ponto e virgula ; (ex: Oferta de Emprego; Vagas de Emprego na Área de Marketing;)</p>

                                            @Html.ValidationMessageFor(model => model.MidiaTexto[i].PalavraChave, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.MidiaTexto[i].PalavraChave, new { @rows = 5, @class = "form-control" })



                                        </div>
                                    </div>
                                }

                                @for (int i = 0; i < Model.MidiaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MidiaTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.MidiaTexto[i].Link, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MidiaTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.File.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.MidiaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma)
                                    @Html.HiddenFor(model => @Model.MidiaTexto[i].CONF_Idioma.Codigo)
                                    <div class="form-group">

                                        <div class="col-md-12">

                                            @Html.LabelFor(model => model.MidiaTexto[i].CONF_Idioma.Codigo)

                                            @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })



                                        </div>
                                    </div>

                                }


                                

                        

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Midia.Activo, htmlAttributes: new { @class = "control-label " })
                                        &nbsp;&nbsp;&nbsp;
                                        @Html.ValidationMessageFor(model => model.Midia.Activo, "", new { @class = "text-danger" })
                                        @Html.CheckBoxFor(model => model.Midia.Activo, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>








                            </div>


                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

