﻿@model Webtech_Office.Models.MediaViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-picture-o" aria-hidden="true"></i> Media

    </h1>
</section>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Apagar Média</h4>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->
            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading" style="height:60px;">

                    <h4>Informação</h4>

                </div>


                <div class="panel-body  ">

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">


                            <div class="col-md-10">
                                <label class="control-label">Típo&nbsp;<b style="color:red">*</b></label>


                                @Html.ValidationMessageFor(model => model.Media.TipoMidia, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.Media.TipoMidia,
                                                                    (IEnumerable<SelectListItem>)ViewBag.TipoMedia, "Seleccionar Tipo", new { @class = "selectpicker form-control", @readonly = "readonly" })

                            </div>
                        </div>


                        @for (int i = 0; i < Model.MediaTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MediaTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.ValidationMessageFor(model => model.MediaTexto[i].Descricao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.MediaTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.MediaTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MediaTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.ValidationMessageFor(model => model.MediaTexto[i].Introducao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.MediaTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.MediaTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MediaTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.ValidationMessageFor(model => model.MediaTexto[i].Conteudo, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(model => model.MediaTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = @i })
                                    <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@i');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                    </script>
                                </div>
                            </div>
                        }



                        @for (int i = 0; i < Model.MediaTexto.Count; i++)
                        {
                            @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MediaTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.ValidationMessageFor(model => model.MediaTexto[i].Link, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.MediaTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.FileDocumento.Count; i++)
                        {
                            @Html.HiddenFor(model => model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12">

                                    @Html.LabelFor(model => @Model.FileDocumento[i].File)
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.EditorFor(model => @Model.FileDocumento[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })



                                </div>
                            </div>

                        }

                        @for (int i = 0; i < Model.File.Count; i++)
                        {
                            @Html.HiddenFor(model => model.MediaTexto[i].CONF_Idioma.Id)

                            <div class="form-group">

                                <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                    @Html.LabelFor(model => @Model.File[i].File)
                                    @Html.DisplayFor(model => model.MediaTexto[i].CONF_Idioma.Descricao)
                                    @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                    <img id="@String.Concat("Img_", i)" style="height:230px;width:auto;">
                                    <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                    readURL(this, "@String.Concat("#Img_", i)");
                                                });
                                    </script>

                                </div>
                            </div>

                        }





                    </div>



                </div>
            </div>

            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.Media.Destaque, htmlAttributes: new { @class = "control-label" })
                    &nbsp;&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.Media.Destaque, "", new { @class = "text-danger" })
                    @Html.CheckBoxFor(model => model.Media.Destaque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>

            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.Media.PartilhaFacebook, htmlAttributes: new { @class = "control-label " })
                    &nbsp;&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.Media.PartilhaFacebook, "", new { @class = "text-danger" })
                    @Html.CheckBoxFor(model => model.Media.PartilhaFacebook, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>
            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.Media.PartilhaTwitter, htmlAttributes: new { @class = "control-label " })
                    &nbsp;&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.Media.PartilhaTwitter, "", new { @class = "text-danger" })
                    @Html.CheckBoxFor(model => model.Media.PartilhaTwitter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>

            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.Media.Activo, htmlAttributes: new { @class = "control-label " })
                    &nbsp;&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.Media.Activo, "", new { @class = "text-danger" })
                    @Html.CheckBoxFor(model => model.Media.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>

        </div>



        @using (@Html.BeginForm("ApagarMediaConteudoConfirmar", "Media", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            @Html.HiddenFor(x => x.Midia.Id)
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" id="btnMidiaCancel" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Apagar" />
                    </div>
                </div>
            </div>

        }

    </div>
</div>






