﻿@model Webtech_Office.Models.MediaIntroducaoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir Introducao</title>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>

    <div class="modal-dialog create-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Editar Introdução</h3>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("EditarMediaIntroducao", "Media", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.MediaIntroducao.Id)
                    <!-- Custom Tabs -->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="panel panel-primary list-panel" id="list-panel">

                        <div class="panel-heading" style="height:60px;">

                            <h4>Informação</h4>

                        </div>


                        <div class="panel-body  ">

                            <div class="form-horizontal">








                                <div class="form-group">
                                    @for (int i = 0; i < Model.MediaIntroducaoTexto.Count; i++)
                                    {
                                        @Html.HiddenFor(model => @Model.MediaIntroducaoTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaIntroducaoTexto[i].Titulo, htmlAttributes: new { @class = "control-label " })
                                          
                                            @Html.ValidationMessageFor(model => model.MediaIntroducaoTexto[i].Titulo, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaIntroducaoTexto[i].Titulo, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }
                                </div>

                                <div class="form-group">
                                    @for (int i = 0; i < Model.MediaIntroducaoTexto.Count; i++)
                {
                                        @Html.HiddenFor(model => @Model.MediaIntroducaoTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaIntroducaoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                     
                                            @Html.ValidationMessageFor(model => model.MediaIntroducaoTexto[i].Introducao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaIntroducaoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }

                                </div>
                                <div class="form-group">

                                    @for (int i = 0; i < Model.MediaIntroducaoTexto.Count; i++)
                                    {
                                        @Html.HiddenFor(model => @Model.MediaIntroducaoTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaIntroducaoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                          
                                            @Html.ValidationMessageFor(model => model.MediaIntroducaoTexto[i].Link, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaIntroducaoTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>

                             

                                <div class="form-group">
                                    @for (int i = 0; i < Model.File.Count; i++)
                                    {
                                        @Html.HiddenFor(model => model.MediaIntroducaoTexto[i].CONF_Idioma.Id)
                                        @Html.HiddenFor(model => model.MediaIntroducaoTexto[i].Id)
                                        @Html.HiddenFor(model => model.MediaIntroducaoTexto[i].Imagem)


                                        <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                            <label class="control-label "><b>Imagem</b></label>
                                          
                                            @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                            @if (!String.IsNullOrWhiteSpace(Model.MediaIntroducaoTexto[i].Imagem))
                                            {
                                                <p>
                                                    <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.MediaIntroducaoTexto[i].Imagem)"
                                                         class="img-preview">
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                         class="img-preview">
                                                </p>
                                            }
                                            <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                    readURL(this, "@String.Concat("#Img_", i)");
                                                });
                                            </script>

                                        </div>


                                    }
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.MediaIntroducao.Activo, htmlAttributes: new { @class = "control-label " })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.MediaIntroducao.Activo, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.MediaIntroducao.Activo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>



                    </div>








                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <input type="submit" class="btn btn-primary" value="Confirmar" />
                            </div>
                        </div>
                    </div>



                }

            </div>
        </div>
    </div>

    <style type="text/css">
        .img-preview {
            height: 250px;
            width: auto;
        }
    </style>

    <script type="text/javascript">

                                                $("#CancelRedirect").click(
                                                    function () {
                                                        window.location = "/Media/Index";
                                                    }
                                                );



                                                function readURL(input, img) {
                                                    for (var i = 0; i < input.files.length; i++) {
                                                        if (input.files[i]) {
                                                            var reader = new FileReader();

                                                            reader.onload = function (e) {
                                                                $(img).attr('src', e.target.result);
                                                                $(img).css("display", "block");
                                                            }
                                                            reader.readAsDataURL(input.files[i]);
                                                        }
                                                    }


                                                }

                                                $(document).ready(
                                                    function () {

                                                        $("#MapaPartilhado").change(

                                                            function () {
                                                                var mapa = $("#MapaPartilhado").val();
                                                                document.getElementById("#DivMapaPreview").innerHTML = "";
                                                                document.getElementById("#DivMapaPreview").innerHTML = mapa;
                                                            }
                                                        );
                                                    }

                                                );




    </script>
</body>
</html>


