﻿
@{
    Layout = null;
}

<!DOCTYPE html>
@model Webtech_Office.Models.MediaViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CriarMediaConteudo</title>

    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>




    <div class="modal-dialog create-modal">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Editar Media</h3>
            </div>
            @using (Html.BeginForm("EditarMediaConteudo", "Media", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Media.Id)

                <div class="modal-body">
                    <!-- Custom Tabs -->
                    <div class="panel panel-primary list-panel" id="list-panel">

                        <div class="panel-heading" style="height:60px;">

                            <h4>Informação</h4>

                        </div>


                        <div class="panel-body  ">

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">


                                    <div class="col-md-6">
                                        <label class="control-label">Típo&nbsp;<b style="color:red">*</b></label>
                                        @Html.HiddenFor(model => model.TipoMedia.Id)

                                        @Html.ValidationMessageFor(model => model.Media.TipoMidia, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(model => model.Media.TipoMidia,
                                                                    (IEnumerable<SelectListItem>)ViewBag.TipoMedia, "Seleccionar Tipo", new { @class = "selectpicker form-control" })

                                    </div>

                                    <div class="col-md-6">
                                        <label class="control-label">Data&nbsp;<b style="color:red">*</b></label>


                                        @Html.ValidationMessageFor(model => model.Media.Data, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Media.Data, 
                                                                         new { htmlAttributes = new { @class = " form-control datepicker"} })


                                    </div>
                                </div>


                                @for (int i = 0; i < Model.MediaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => model.MediaTexto[i].id)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                 
                                            @Html.ValidationMessageFor(model => model.MediaTexto[i].Descricao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.MediaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => model.MediaTexto[i].id)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                              
                                            @Html.ValidationMessageFor(model => model.MediaTexto[i].Introducao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                @for (int i = 0; i < Model.MediaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => model.MediaTexto[i].id)
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })
               
                                            @Html.ValidationMessageFor(model => model.MediaTexto[i].Conteudo, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.MediaTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = i })
                                            <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@i');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                            </script>
                                        </div>
                                    </div>
                                }



                                @for (int i = 0; i < Model.MediaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.MediaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => model.MediaTexto[i].id)
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.MediaTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                     
                                            @Html.ValidationMessageFor(model => model.MediaTexto[i].Link, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.MediaTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                }

                                <div class="form-group">

                                    @for (int i = 0; i < Model.FileDocumento.Count; i++)
                                    {
                                        @Html.HiddenFor(model => model.MediaTexto[i].CONF_Idioma.Id)
                                        @Html.HiddenFor(model => model.MediaTexto[i].id)
                                        @Html.HiddenFor(model => model.MediaTexto[i].PDF)


                                        <div class="col-md-12">

                                            <label class="control-label "><b>Anexo</b></label>

                                            @if (!String.IsNullOrWhiteSpace(Model.MediaTexto[i].PDF))
                                            {
                                                <p style="cursor:pointer;padding:0;">
                                                    <a href="@Url.Content("~/Content/files/anexos/" + Model.MediaTexto[i].PDF +"")" download style="text-decoration:none!important;">
                                                        <i class="fa fa-file" aria-hidden="true" style="font-size:20px;"> </i>
                                                        @Html.DisplayFor(model => model.MediaTexto[i].PDF)
                                                    </a>
                                                </p>

                                            }
                                            else
                                            {
                                                <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                            }

                                            @Html.EditorFor(model => @Model.FileDocumento[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })




                                        </div>


                                    }
                                </div>


                                <div class="form-group">
                                    @for (int i = 0; i < Model.File.Count; i++)
                                    {
                                        @Html.HiddenFor(model => model.MediaTexto[i].CONF_Idioma.Id)
                                      @Html.HiddenFor(model => model.MediaTexto[i].id)
                                        @Html.HiddenFor(model => model.MediaTexto[i].Imagem)


                                        <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                            <label class="control-label "><b>Imagem</b></label>
                                   
                                            @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                            @if (!String.IsNullOrWhiteSpace(Model.MediaTexto[i].Imagem))
                                            {
                                                <p>
                                                    <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.MediaTexto[i].Imagem)"
                                                         class="img-preview">
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                         class="img-preview">
                                                </p>
                                            }
                                            <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                    readURL(this, "@String.Concat("#Img_", i)");
                                                });
                                            </script>

                                        </div>


                                    }
                                </div>




                            </div>



                        </div>
                    </div>

               

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Media.Activo, htmlAttributes: new { @class = "control-label " })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Media.Activo, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Media.Activo, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Confirmar" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <style type="text/css">
        .img-preview {
            height: 250px;
            width: auto;
        }

        .pdf {
            color: red;
            font-size: 18px;
            cursor: pointer;
        }

        .parag-pdf:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">

    $("#CancelRedirect").click(
        function () {
             window.location = "/Media/Index";
        }
    );



    function readURL(input, img) {
        for (var i = 0; i < input.files.length; i++) {
            if (input.files[i]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    }

    </script>
</body>
</html>
