﻿
@{
    ViewBag.Title = "Media";
}
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>


<section class="content-header">

    <h1>
        <i class="fa fa-picture-o" aria-hidden="true"></i> Media
    </h1>

</section>


<div class="container">
    <div class="row" style="height:40px;">

    </div>
</div>


<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarMediaIntroducao", "Media")" id="btnCriarMediaIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaMediaIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Media</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-url="@Url.Action("CriarMediaConteudo", "Media")" id="btnCriarMediaConteudo" data-toggle="modal" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Criar Conteudo</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaMediaConteudo" class="table table-striped table-bordered listaMediaConteudo" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>


<section>

    <div class="modal fade" id="CriarMediaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="CriarMediaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarMediaIntroducaoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesMediaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesMediaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesMediaIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarMediaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarMediaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarMediaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarMediaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarMediaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarMediaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemMediaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemMediaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemMediaIntroducaoContainer">

        </div>
    </div>





</section>

<section>
    <div class="modal fade" id="CriarMediaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="CriarMediaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarMediaConteudoContainer">

        </div>
    </div>

    <!-- Modal Recrutamento COnteudo -->
    <div class="modal fade" id="DetalhesMediaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesMediaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesMediaConteudoContainer">

        </div>
    </div>


    <!-- Modal Registo -->
    <div class="modal fade" id="ApagarMediaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarMediaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarMediaConteudoContainer">

        </div>
    </div>


    <div class="modal fade" id="DetalhesMediaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesMediaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesMediaConteudoContainer">
        </div>
    </div>

    <div class="modal fade" id="EditarMediaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="EditarMediaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarMediaConteudoContainer">
        </div>
    </div>

    <div class="modal fade" id="ApagarRegistoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarRegistoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarRegistoContainer">
        </div>
    </div>




    <!-- Seccoes -->
    <div class="modal fade" id="CreateSeccaoModal" tabindex="-1" role="dialog" aria-labelledby="CreateSeccaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CreateSeccaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemMediaModal" tabindex="-1" role="dialog" aria-labelledby="ImagemMediaModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemMediaContainer">

        </div>
</div>
</section>





<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>


<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaMediaIntroducao').DataTable({


                    "serverSide": true,
                    "processing": true,


                    "ajax": {
                        "url": "@Url.Action("ListaMediaIntroducao", "Media")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                    "columns": [

                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("MediaIntroducaoImagem", "Media")?id=' + data + '" class="verMediaIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesMediaIntroducao", "Media")?id=' + data + '" class="detalhesMediaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarMediaIntroducao", "Media")?id=' + data + '" class="editarMediaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarMediaIntroducao", "Media")?id=' + data + '" class="apagarMediaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();

        /* Detalhes Categoria  */
        $('#btnCriarMediaIntroducao').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarMediaIntroducaoContainer').html(data);

                $('#CriarMediaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaMediaIntroducao').on("click", ".detalhesMediaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#DetalhesMediaIntroducaoContainer').html(data);

                $('#DetalhesMediaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaMediaIntroducao').on("click", ".editarMediaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#EditarMediaIntroducaoContainer').html(data);

                $('#EditarMediaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaMediaIntroducao').on("click", ".verMediaIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ImagemMediaIntroducaoContainer').html(data);

                $('#ImagemMediaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaMediaIntroducao').on("click", ".apagarMediaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ApagarMediaIntroducaoContainer').html(data);

                $('#ApagarMediaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });









    });






</script>

<script type="text/javascript">

        var RECR_ListaMediaConteudoVM;
        $(function () {
            RECR_ListaRegistoVM = {
                dt: null,

                init: function () {
                    dt = $('#ListaMediaConteudo').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,
                        "scrollCollapse": true,



                        "ajax": {
                            "url": "@Url.Action("ListaMediaConteudo", "Media")"
                        },



                        "columnDefs": [
                            { "width": "80px", "targets": 0 }, //step 2, column 1 out of 4
                            { "width": "230px", "targets": 1 }, //step 2, column 2 out of 4
                            { "width": '250px', "targets": 2 }  //step 2, column 3 out of 4
                        ],



                        "columns": [
                            { "title": "Media", "data": "Media", "searchable": true },
                            { "title": "Descrição", "data": "Descricao", "searchable": true },
                            { "title": "Data", "data": "Data", "searchable": true },

                             {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": false,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("MediaImagem", "Media")?id=' + data + '" class="verMediaImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,

                            {
                                "title": "Activo",
                                "data": "Activo",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                                "render": function (data, type, full, meta) {
                                    if (data) {
                                        return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                    } else {
                                        return ' <i  class="fa fa-book" aria-hidden="true" style="color:#e74c3c;"></i>';
                                    }

                                }
                            },





                            {
                                "title": "Opções",
                                "data": "MediaID",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesMediaConteudo", "Media")?id=' + data + '" class="detalhesMediaConteudo" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarMediaConteudo", "Media")?id=' + data + '" class="editarMediaConteudo" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarMediaConteudo", "Media")?id=' + data + '" class="apagarMediaConteudo" style="text-decoration:none; cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                            }

                        ]
                        ,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        }


                    }
                    );





                },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                }

            }

            // initialize the datatables
            RECR_ListaRegistoVM.init();

            /* Detalhes Categoria  */
            $('#btnCriarMediaConteudo').click(function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#CriarMediaConteudoContainer').html(data);

                    $('#CriarMediaConteudoModal').modal('show');

                    $('#spinner').stop().fadeOut('fast');
                });


            });


            /*Detalhes Menu*/
            $('#ListaMediaConteudo').on("click", ".detalhesMediaConteudo", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#DetalhesMediaConteudoContainer').html(data);

                    $('#DetalhesMediaConteudoModal').modal('show');

                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaMediaConteudo').on("click", ".apagarMediaConteudo", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ApagarMediaConteudoContainer').html(data);

                    $('#ApagarMediaConteudoModal').modal('show');

                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaMediaConteudo').on("click", ".editarMediaConteudo", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#EditarMediaConteudoContainer').html(data);

                    $('#EditarMediaConteudoModal').modal('show');

                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaMediaConteudo').on("click", ".verMediaImagem", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ImagemMediaContainer').html(data);

                    $('#ImagemMediaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });




    });

        function CloseModalMediaCont() {
            $('#ApagarMediaConteudoModal').modal('hide');
            $('#ApagarMediaConteudoContainer').html("");
        }




</script>






