﻿.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}
.modal-dialog{
    width:80%!important;
    margin:30px auto!important;
    height:600px!important;
    overflow-y: auto!important;
}

.panel-primary > .panel-heading {
    color: #fff !important;
    background-color: #3c8dbc !important;
    border-color: #ddd;
}



#MenusConfig .t-center {
    display: table;
    width: 100%;
    text-align: center;
}

#MenusConfig .t-right {
    text-align: center;
}

#MenusConfig .t-left {
    text-align: center;
}



#MenusConfig .opcoes-tbl {
    display: table;
    width: 100%;
    text-align: center;
}

.listaMediaConteudo table tbody tr:hover {
    background-color: #c1f8fe !important;
}

.listaMediaConteudo table tbody tr:hover {
    background-color: #c1f8fe !important;
}
.listaMediaConteudo table tbody tr th:last-child {
    text-align: center !important;
}

.listaMediaConteudo table tbody tr td:last-child {
    text-align: center !important;
}


.listaMediaConteudo tbody tr th:nth-child(4),
.listaMediaConteudo  tbody tr th:nth-child(5),
.listaMediaConteudo  table tr th:nth-child(6) {
    text-align: center !important;
}


.listaMediaConteudo  tbody tr td:nth-child(4),
.listaMediaConteudo  tbody tr td:nth-child(5),
.listaMediaConteudo  tbody tr td:nth-child(6) {
    text-align: center !important;
}


.listaTipoReceitas  tr:hover {
    background-color: #c1f8fe !important;
}
.listaCozinheiros thead  tr th:last-child {
    text-align: center !important;
}

.listaCozinheiros tbody  tr td:last-child {
    text-align: center !important;
}


.listaCozinheiros thead tr th:nth-child(4){
    text-align: center !important;
}


.listaCozinheiros tbody tr td:nth-child(4) {
    text-align: center !important;
}


.listaTipoReceitas tr:hover {
    background-color: #c1f8fe !important;
}

.listaTipoReceitas thead tr th:last-child {
    text-align: center !important;
}

.listaTipoReceitas tbody tr td:last-child {
    text-align: center !important;
}


.listaTipoReceitas thead tr th:nth-child(2) {
    text-align: center !important;
}


.listaTipoReceitas tbody tr td:nth-child(2) {
    text-align: center !important;
}




.listaProduto tr:hover {
    background-color: #c1f8fe !important;
}

.listaProduto thead tr th:first-child,
.listaProduto tbody tr td:first-child {
    width: 230px!important;
}

.listaProduto thead tr th:nth-child(2),
.listaProduto tbody tr td:nth-child(2) {
    width: 230px!important;
}

.listaProduto thead tr th:last-child {
    text-align: center !important;
    width:90px!important;
}

.listaProduto tbody tr td:last-child {
    text-align: center !important;
}

#ListaCategoriaProduto thead tr th:nth-child(2),
#ListaCategoriaProduto tbody tr td:nth-child(2){
    text-align: center !important;
}



#ListaProduto thead tr th:nth-child(5),
#ListaProduto thead tr th:nth-child(6),
#ListaProduto thead tr th:nth-child(7),
#ListaProduto tbody tr td:nth-child(5),
#ListaProduto tbody tr td:nth-child(6),
#ListaProduto tbody tr td:nth-child(7) {
    text-align: center !important;
}



#ListaBanner thead tr th:nth-child(3),
#ListaBanner thead tr th:nth-child(4),
#ListaBanner tbody tr td:nth-child(3),
#ListaBanner tbody tr td:nth-child(4) {
    text-align: center !important;
}


#ListaProdutoIntroducao thead tr th:nth-child(3),
#ListaProdutoIntroducao thead tr th:nth-child(4),
#ListaProdutoIntroducao tbody tr td:nth-child(3),
#ListaProdutoIntroducao tbody tr td:nth-child(4) {
    text-align: center !important;
}


#listaProduto tbody tr td:last-child {
    text-align: center !important;
}



