﻿@model  Webtech_Office.Models.TipoReceitaViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>


<div class="modal-dialog create-modal" style="width:60%!important;vertical-align:middle;margin:30px auto!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Detalhes Tipo Receita</h4>
        </div>
  
          
            <div class="modal-body">
                <!-- Custom Tabs -->
            

                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                @for (int i = 0; i < Model.TipoReceitaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.TipoReceitaTexto[i].CONF_Idioma.Id)

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.TipoReceitaTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                            @Html.DisplayFor(model => model.TipoReceitaTexto[i].CONF_Idioma.Codigo)
                                            @Html.ValidationMessageFor(model => model.TipoReceitaTexto[i].Descricao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.TipoReceitaTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })

                                        </div>
                                    </div>

                                }

                                <div class="form-group">


                                    <div class="col-md-10">
                                        @Html.LabelFor(model => model.TipoReceita.Activo, htmlAttributes: new { @class = "control-label " })

                                        &nbsp;
                                        @Html.ValidationMessageFor(model => model.TipoReceita.Activo, "", new { @class = "text-danger" })
                                        @Html.CheckBoxFor(model => model.TipoReceita.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                    </div>
                                </div>



                            </div>


                    <!-- /.tab-content -->
               
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      
                    </div>
                </div>
            </div>
      

    </div>
</div>



