﻿@model  Webtech_Office.Models.CozinheiroViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>

<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-picture-o" aria-hidden="true"></i> Receita

    </h1>
</section>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Detalhe Cozinheiro</h4>
        </div>
      
          
            <div class="modal-body">
                
                <div class="panel panel-primary list-panel" id="list-panel">

                    <div class="panel-heading" style="height:60px;">

                        <h4>Informação</h4>

                    </div>


                    <div class="panel-body  ">

                        <div class="form-horizontal">



                            <div class="form-group">



                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Cozinheiro.Ordem, htmlAttributes: new { @class = "control-label " })

                                    @Html.ValidationMessageFor(model => model.Cozinheiro.Ordem, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Cozinheiro.Ordem, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>



                            </div>

                            <div class="form-group">



                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Cozinheiro.Nome, htmlAttributes: new { @class = "control-label " })

                                    @Html.ValidationMessageFor(model => model.Cozinheiro.Nome, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Cozinheiro.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>



                            </div>


                            <div class="form-group">



                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Cozinheiro.Email, htmlAttributes: new { @class = "control-label " })

                                    @Html.ValidationMessageFor(model => model.Cozinheiro.Email, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Cozinheiro.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>



                            </div>





                            <div class="form-group">
                                @for (int i = 0; i < Model.CozinheiroTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.CozinheiroTexto[i].CONF_Idioma.Id)



                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.CozinheiroTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.CozinheiroTexto[i].CONF_Idioma.Descricao))
                                        @Html.ValidationMessageFor(model => model.CozinheiroTexto[i].Introducao, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.CozinheiroTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                    </div>


                                }

                            </div>
                            <div class="form-group">

                                @for (int i = 0; i < Model.CozinheiroTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.CozinheiroTexto[i].CONF_Idioma.Id)



                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.CozinheiroTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.CozinheiroTexto[i].CONF_Idioma.Descricao))
                                        @Html.ValidationMessageFor(model => model.CozinheiroTexto[i].Link, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.CozinheiroTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                    </div>


                                }
                            </div>


                            <div class="form-group">



                                <div class="col-md-12" id="imgCoz">

                                    <label class="control-label "><b>Imagem</b></label>

                                    @if (!String.IsNullOrWhiteSpace(Model.Cozinheiro.Imagem))
                                    {
                                        <p>
                                            <img id="imgCoz" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.Cozinheiro.Imagem)"
                                                 class="img-preview">
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <img id="imgCoz" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                 class="img-preview">
                                        </p>
                                    }


                                </div>



                            </div>
                        </div>
                    </div>
                </div>





                <div class="form-horizontal">

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Cozinheiro.Activo, htmlAttributes: new { @class = "control-label " })
                            &nbsp;&nbsp;&nbsp;
                            @Html.ValidationMessageFor(model => model.Cozinheiro.Activo, "", new { @class = "text-danger" })
                            @Html.CheckBoxFor(model => model.Cozinheiro.Activo, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>



                </div>








                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Confirmar" />
                        </div>
                    </div>
                </div>

            </div>



    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>



<script type="text/javascript">


    function readURL(input, img) {
        for (var i = 0; i < input.files.length; i++) {
            if (input.files[i]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    }

</script>