﻿@model Webtech_Office.Models.ReceitaIntroducaoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>




<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Detalhes Introdução</h3>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->

            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading" style="height:60px;">

                    <h4>Informação</h4>

                </div>


                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group  ">
                            @for (int i = 0; i < Model.ReceitaIntroducaoTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.ReceitaIntroducaoTexto[i].CONF_Idioma.Id)

                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ReceitaIntroducaoTexto[i].Titulo, htmlAttributes: new { @class = "control-label " })
                                    (@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Descricao))
                                    @Html.ValidationMessageFor(model => model.ReceitaIntroducaoTexto[i].Titulo, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ReceitaIntroducaoTexto[i].Titulo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>


                        <div class="form-group ">
                            @for (int i = 0; i < Model.ReceitaIntroducaoTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.ReceitaIntroducaoTexto[i].CONF_Idioma.Id)

                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ReceitaIntroducaoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                    (@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Descricao))
                                    @Html.ValidationMessageFor(model => model.ReceitaIntroducaoTexto[i].Introducao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ReceitaIntroducaoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>






                        <div class="form-group ">
                            @for (int i = 0; i < Model.ReceitaIntroducaoTexto.Count; i++)
                            {



                                @Html.HiddenFor(model => @Model.ReceitaIntroducaoTexto[i].CONF_Idioma.Id)

                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ReceitaIntroducaoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                    (@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Descricao))
                                    @Html.ValidationMessageFor(model => model.ReceitaIntroducaoTexto[i].Link, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ReceitaIntroducaoTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class=" form-group">
                            @for (int i = 0; i < Model.ReceitaIntroducaoTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Id)



                                <div class="col-md-12 ">



                                    <label class="control-label "><b>PDF</b></label>
                                    (@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Descricao))
                                    @if (!String.IsNullOrWhiteSpace(Model.ReceitaIntroducaoTexto[i].PDF))
                                    {
                                        <p style="cursor:pointer;padding:0;"><i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].PDF)</p>

                                    }
                                    else
                                    {
                                        <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                    }

                                </div>





                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group">
                            @for (int i = 0; i < Model.ReceitaIntroducaoTexto.Count; i++)
                            {



                                <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                    <label class="control-label "><b>Imagem</b></label>
                                    (@Html.DisplayFor(model => model.ReceitaIntroducaoTexto[i].CONF_Idioma.Descricao))
                                    @if (!String.IsNullOrWhiteSpace(Model.ReceitaIntroducaoTexto[i].Imagem))
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ReceitaIntroducaoTexto[i].Imagem)"
                                                 class="img-preview">
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                 class="img-preview">
                                        </p>
                                    }






                                </div>



                            }
                        </div>






                    </div>
                </div>
            </div>





            <div class="form-horizontal">

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ReceitaIntroducao.Activo, htmlAttributes: new { @class = "control-label " })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.ReceitaIntroducao.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.ReceitaIntroducao.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>


                </div>



            </div>


        </div>




        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>

                </div>
            </div>
        </div>


    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

        $("#CancelRedirect").click(
            function () {
                window.location = "/Loja/Index";
            }
        );



        function readURL(input, img) {
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(img).attr('src', e.target.result);
                        $(img).css("display", "block");
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }


        }

        $(document).ready(
            function () {

                $("#MapaPartilhado").change(

                    function () {
                        var mapa = $("#MapaPartilhado").val();
                        document.getElementById("#DivMapaPreview").innerHTML = "";
                        document.getElementById("#DivMapaPreview").innerHTML = mapa;
                    }
                );
            }

        );




</script>





