﻿@model Webtech_Office.Models.ReceitaViewModel




<meta name="viewport" content="width=device-width" />
<title>Inserir Receita</title>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>









<div id="ModalPainel" class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Detalhe Receita</h3>
        </div>

        <div class="modal-body">
            <form id="FormRegisto" role="form">

                <div class="panel panel-primary list-panel" id="InserirReceita">

                    <div class="panel-heading" style="height:60px;">

                        <h4>Informações da Receita</h4>

                    </div>

                    <div class="panel-body  ">
                        <div class="form-horizontal">

                            <div class="form-group">

                                <input type="hidden" value="@Model.Receita.Id" id="IdReceita" name="IdReceita" />

                                <div class="col-md-6">
                                    <label class="control-label"><b>Tipo</b>&nbsp;<b style="color:red">*</b></label>


                                    <span class="text-danger" id="TipoObrigatorio" style="display:none;">Obrigatório</span>
                                    @Html.DropDownListFor(model => model.Receita.TipoReceitaId,
           (IEnumerable<SelectListItem>)ViewBag.TipoReceita, "Seleccionar Típo", new { @class = "selectpicker form-control", id = "Tipo", disabled = "disabled" })

                                </div>

                                <div class="col-md-6">
                                    <label class="control-label"><b>Cozinheiro</b>&nbsp;<b style="color:red">*</b></label>


                                    <span class="text-danger" id="CozinheiroObrigatorio" style="display:none;">Obrigatório</span>
                                    @Html.DropDownListFor(model => model.Receita.CozinheiroId,
           (IEnumerable<SelectListItem>)ViewBag.Cozinheiro, "Seleccionar Cozinheiro", new { @class = "selectpicker form-control", id = "Cozinheiro", disabled = "disabled" })

                                </div>


                            </div>


                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Receita.Ordem, htmlAttributes: new { @class = "control-label " })

                                    <span class="text-danger" id="OrdemObrigatorio" style="display:none;">Obrigatório</span>
                                    @Html.EditorFor(model => model.Receita.Ordem, new { htmlAttributes = new { @class = "form-control", id = "Ordem", @readonly = "readonly" } })

                                </div>
                            </div>



                            @for (int i = 0; i < Model.ReceitaTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.ReceitaTexto[i].CONF_Idioma.Id)

                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.ReceitaTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                        @Html.DisplayFor(model => model.ReceitaTexto[i].CONF_Idioma.Codigo)&nbsp;<b style="color:red">*</b>
                                        <span class="text-danger" id="DescricaoObrigatorio" style="display:none;">Obrigatório</span>
                                        @Html.EditorFor(model => model.ReceitaTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", id = "Descricao", @readonly = "readonly" } })

                                    </div>
                                </div>

                            }

                            <div class="form-group">
                                @for (int i = 0; i < Model.ReceitaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => @Model.ReceitaTexto[i].CONF_Idioma.Id)



                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.ReceitaTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                        (@Html.DisplayFor(model => model.ReceitaTexto[i].CONF_Idioma.Descricao))
                                        <span class="text-danger" id="IntroducaoObrigatorio" style="display:none;">Obrigatório</span>
                                        @Html.EditorFor(model => model.ReceitaTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", id = "Introducao", @readonly = "readonly" } })

                                    </div>


                                }
                            </div>




                            <div class="form-group">

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Receita.DuracaoMinutos, htmlAttributes: new { @class = "control-label " })

                                    <span class="text-danger" id="DuracaoObrigatorio" style="display:none;">Obrigatório</span>
                                    @Html.EditorFor(model => model.Receita.DuracaoMinutos, new { htmlAttributes = new { @class = "form-control", id = "Duracao", @readonly = "readonly" } })

                                </div>


                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Receita.QuantidadePessoas, htmlAttributes: new { @class = "control-label " })

                                    <span class="text-danger" id="PessoasObrigatorio" style="display:none;">Obrigatório</span>
                                    @Html.EditorFor(model => model.Receita.QuantidadePessoas, new { htmlAttributes = new { @class = "form-control", id = "Pessoas", @readonly = "readonly" } })

                                </div>

                            </div>

                            <div class="form-group">
                                @for (int i = 0; i < Model.ReceitaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.ReceitaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.ReceitaTexto[i].Id)
                                    @Html.HiddenFor(model => @Model.ReceitaTexto[i].PDF, new { htmlAttributes = new { @class = "form-control", id = "Anexo" } })


                                    <div class="col-md-12">

                                        <label class="control-label "><b>PDF</b>&nbsp; </label>&nbsp; (<span style="color:red;">O ficheiro seleccionado, vai substituir o actual!</span>)
                                        @if (!String.IsNullOrWhiteSpace(Model.ReceitaTexto[i].PDF))
                                        {
                                            <p style="cursor:pointer;padding:0;"><i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ReceitaTexto[i].PDF)</p>

                                        }
                                        else
                                        {
                                            <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                        }
                                        <input type="file" id="FileAnexo" name="FileAnexo" />



                                    </div>

                                }
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <hr />
                                </div>

                            </div>
                            <div class="form-group">

                                @for (int i = 0; i < Model.ReceitaTexto.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.ReceitaTexto[i].CONF_Idioma.Id)
                                    @Html.HiddenFor(model => @Model.ReceitaTexto[i].Id)
                                    @Html.HiddenFor(model => @Model.ReceitaTexto[i].Imagem, new { htmlAttributes = new { @class = "form-control", id = "Imagem" } })



                                    <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                        <label class="control-label "><b>Imagem</b></label>&nbsp;@Html.DisplayFor(model => model.ReceitaTexto[i].CONF_Idioma.Descricao)&nbsp; (<span style="color:red;">
                                            A imagem seleccionada, vai substituir a actual!
                                        </span>)
                                        <input type="file" id="FileImagem" name="FileImagem" />
                                        @if (!String.IsNullOrWhiteSpace(Model.ReceitaTexto[i].Imagem))
                                        {
                                            <p>
                                                <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ReceitaTexto[i].Imagem)"
                                                     class="img-preview">
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                     class="img-preview">
                                            </p>
                                        }



                                        <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                         readURL(this, "@String.Concat("#Img_", i)");
                                                  });
                                        </script>

                                    </div>


                                }
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>




                            <div class="form-group ">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Receita.Activo, htmlAttributes: new { @class = "control-label " })
                                    &nbsp;&nbsp;&nbsp;
                                    @Html.ValidationMessageFor(model => model.Receita.Activo, "", new { @class = "text-danger" })
                                    <input type="checkbox" id="Activo" />


                                </div>
                            </div>





                        </div>
                    </div>
                </div>


            </form>



            <div class="panel panel-primary list-panel" id="InserirIngredientes">

                <div class="panel-heading" style="height:60px;">

                    <h4>Ingredientes</h4>

                </div>


                <div class="panel-body  ">
                    <div class="form-horizontal">



                        <input type="hidden" id="ReceitaId" value="@Model.Receita.Id" />


                        @for (int i = 0; i < Model.ReceitaTexto.Count; i++)
                        {



                            <div class="col-md-12">
                                <label class="control-label">Ingredientes</label> &nbsp;&nbsp;

                                <span class="text-danger" id="IngredientesObrigatorio" style="display:none;">Obrigatório</span>
                                @Html.TextAreaFor(model => model.ReceitaTexto[i].Ingredientes, new { @rows = 200, @class = "form-control", id = "Ingredientes_TXT", @readonly = "readonly" })
                                <script>
                                        $(document).ready(
                                            function () {
                                                CKEDITOR.replace('Ingredientes_TXT');
                                                CKEDITOR.Add;
                                            }
                                        );

                                </script>
                            </div>

                        }



                    </div>

                </div>



            </div>







            <div class="panel-body  ">
                <div class="form-horizontal">
                    <input type="hidden" id="ReceitaIdP" value="@Model.Receita.Id" />

                    <div class="form-group">
                        <div class="panel-heading" style="height:60px;">

                            <h4>Passos de Preparação</h4>

                        </div>




                        <div class="col-md-12">

                            <table id="ListaPassos" class="table table-striped table-bordered " style="width:100%;"></table>

                        </div>





                    </div>


                </div>













            </div>

            <div class="form-group ">

                <div class="col-md-9"></div>


            </div>

        </div>


        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                   
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>








    </div>



</div>



<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }
</style>


<script type="text/javascript">

        var PassosList;
        $(function () {
            PassosList = {
                dt: null,

                init: function () {
                    dt = $('#ListaPassos').DataTable({
                        "dom": "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'><'col-sm-7'p>>",

                        "serverSide": true,
                        "processing": true,


                        "ajax": {
                            "url": "@Url.Action("ListaPassos", "Receita")",
                            "type": "POST",
                            "data": function (d) {
                                d.ReceitaId = $("#IdReceita").val();
                            }

                        },



                        "columnDefs": [

                            { "width": "80px", "targets": 0 },
                            { "width": "80px", "targets": -1 }
                        ],



                        "columns": [
                            { "title": "Ordem", "data": "Ordem", "searchable": false },
                            { "title": "Descricao", "data": "Descricao", "searchable": false },

                            {
                                "title": "Opções",
                                "data": "PassoId",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl">&nbsp; <a data-url="@Url.Action("ApagarPasso", "Receita")?id=' + data + '" class="apagarPasso" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                            }
                        ],







                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        }


                    }
                    );





                },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                },
                destroi: function () {
                    $('#ListaPassos').empty();
                    dt.destroy();
                }



            }

            // initialize the datatables
            PassosList.init();

            $("#PassoInserir").click(function (event) {

                event.preventDefault();

                var isValid = true;
                $("#Ordem").each(function () {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;
                        $("#OrdemObrigatorio").css("display", "block");

                    }
                    else {
                        $("#OrdemObrigatorio").css("display", "inline");

                    }
                });

                $("#DescricaoP").each(function () {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;

                        $("#DescricaoObrigatorio").css("display", "inline");
                    }
                    else {

                        $("#DescricaoObrigatorio").css("display", "none");
                    }
                });





                if (isValid == false)
                    return;


                event.preventDefault();
                var data = new FormData();
                // data.append("__RequestVerificationToken", gettoken());
                data.append("ReceitaId", $("#ReceitaIdP").val());
                data.append("Ordem", $("#OrdemP").val());
                data.append("Descricao", $("#DescricaoP").val());


                var settings = {
                    type: "POST",
                    url: "@Url.Action("CriarPasso", "Receita")",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        //$("#ReceitaId").attr("value", data);
                        PassosList.refresh();

                        $("#OrdemP").val("");
                        $("#DescricaoP").val("");
                    }
                }

                $.ajax(settings);




            });




            $('#ListaPassos').on("click", ".apagarPasso", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");



                $.post(url, function (data) {

                    PassosList.refresh();

                });

            });



            function CancelarPasso() {
                window.parent.getElementById("ReiniciarReceita").click();
                window.getElementById("FecharModal").click();
            }


        });



</script>

<script type="text/javascript">

        $("#CancelRedirect").click(
            function () {
                window.location = "/Receita/Index";
            }
        );



        function readURL(input, img) {
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(img).attr('src', e.target.result);
                        $(img).css("display", "block");
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }


        }

        $(document).ready(
            function () {

                $("#MapaPartilhado").change(

                    function () {
                        var mapa = $("#MapaPartilhado").val();
                        document.getElementById("#DivMapaPreview").innerHTML = "";
                        document.getElementById("#DivMapaPreview").innerHTML = mapa;
                    }
                );
            }

        );




</script>


