﻿
@{
    ViewBag.Title = "Receita";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>


<section class="content-header">

    <h1 style="float:left;display:inline;">
        <i class="fa fa-cutlery" aria-hidden="true"></i> RECEITAS
    </h1>

    <div id="InactivoPartialContainer" style="float:right;">
        
    </div>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<script type="text/javascript">
    $(function () {



        $.ajax({
            url: '@Url.Action("EditarPaginaInactiva", "Receita")',
            dataType: 'html',
            success: function (data) {
                $('#InactivoPartialContainer').html(data);
            }
        });

        
    });

</script>



<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarReceitaBanner", "Receita")" id="btnCriarReceitaBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaReceitaBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarReceitaIntroducao", "Receita")" id="btnCriarReceitaIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaReceitaIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Típo de Receitas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a type="button" class="btn btn-primary btn-block pull-right" href="@Url.Action("CriarTipoReceita", "Receita")" id="btnCriarTipoReceita" data-toggle="modal" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Típo</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaTipoReceitas" class="table table-striped table-bordered" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Cozinheiros</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-url="@Url.Action("CriarReceitaCozinheiro", "Receita")" id="btnCriarReceitaCozinheiro" data-toggle="modal" style="width:150px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Cozinheiro</a>
                    </div>
                </div>

                <div class="panel-body">
                    <table id="ListaReceitaCozinheiros" class="table table-striped table-bordered listaCozinheiros" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Receitas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block pull-right" data-url="@Url.Action("CriarReceita", "Receita")" id="btnCriarReceita" data-toggle="modal" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Receita</button>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaReceitasConteudo" class="table table-striped table-bordered listaReceitasConteudo" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->
            <button id="ReceitaReiniciar" onclick="ReiniciarReceita" />
        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<!-- Modal -->
<section>

    <div class="modal fade" id="CriarReceitaBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarReceitaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarReceitaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="DetalhesReceitaBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesReceitaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesReceitaBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarReceitaBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarReceitaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarReceitaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarReceitaBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarReceitaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarReceitaBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemReceitaBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemReceitaBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemReceitaBannerContainer">

        </div>
    </div>





</section>

<section>

    <div class="modal fade" id="CriarReceitaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="CriarReceitaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarReceitaIntroducaoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesReceitaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesReceitaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesReceitaIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarReceitaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarReceitaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarReceitaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarReceitaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarReceitaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarReceitaIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemReceitaIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemReceitaIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemReceitaIntroducaoContainer">

        </div>
    </div>





</section>

<section>

    <div class="modal fade" id="CriarReceitaCozinheiroModal" tabindex="-1" role="dialog" aria-labelledby="CriarReceitaCozinheiroModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarReceitaCozinheiroContainer">

        </div>
    </div>
    
    <div class="modal fade" id="DetalhesReceitaCozinheiroModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesReceitaCozinheiroModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesReceitaCozinheiroContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarReceitaCozinheiroModal" tabindex="-1" role="dialog" aria-labelledby="EditarReceitaCozinheiroModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarReceitaCozinheiroContainer">
        </div>
    </div>

    <div class="modal fade" id="ApagarReceitaCozinheiroModal" tabindex="-1" role="dialog" aria-labelledby="ApagarReceitaCozinheiroModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarReceitaCozinheiroContainer">
        </div>
    </div>

    <div class="modal fade" id="ImagemReceitaCozinheiroModal" tabindex="-1" role="dialog" aria-labelledby="ImagemReceitaCozinheiroModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemReceitaCozinheiroContainer">


        </div>
    </div>

    <div class="modal fade" id="CriarTipoReceitaModal" tabindex="-1" role="dialog" aria-labelledby="CriarTipoReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarTipoReceitaContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesTipoReceitaModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesTipoReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesTipoReceitaContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarTipoReceitaModal" tabindex="-1" role="dialog" aria-labelledby="ApagarTipoReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarTipoReceitaContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarTipoReceitaModal" tabindex="-1" role="dialog" aria-labelledby="EditarTipoReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarTipoReceitaContainer">

        </div>
    </div>



    <div class="modal fade" id="ApagarTipoReceitaConteudoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarTipoReceitaConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarTipoReceitaConteudoContainer">

        </div>
    </div>


    </section>


<section>

    <div class="modal fade" id="CriarReceitaModal" tabindex="-1" role="dialog" aria-labelledby="CriarReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarReceitaContainer">

        </div>
    </div>

    <div class="modal fade" id="DetalhesReceitaModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesReceitaContainer">

        </div>
    </div>


    <div class="modal fade" id="EditarReceitaModal" tabindex="-1" role="dialog" aria-labelledby="EditarReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarReceitaContainer">

        </div>
    </div>

    <div class="modal fade" id="ApagarReceitaModal" tabindex="-1" role="dialog" aria-labelledby="ApagarReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarReceitaContainer">

        </div>
    </div>


    <div class="modal fade" id="ImagemReceitaModal" tabindex="-1" role="dialog" aria-labelledby="ImagemReceitaModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemReceitaContainer">

        </div>
    </div>




</section>


<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>


<!-- Banner -->
<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaReceitaBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "Receita")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },

                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ReceitaBannerImagem", "Receita")?id=' + data + '" class="verReceitaBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesReceitaBanner", "Receita")?id=' + data + '" class="detalhesReceitaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarReceitaBanner", "Receita")?id=' + data + '" class="editarReceitaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarReceitaBanner", "Receita")?id=' + data + '" class="apagarReceitaBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarReceitaBanner').click(function () {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#CriarReceitaBannerContainer').html(data);

                $('#CriarReceitaBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });



        /* Detalhes Categoria  */
        $('#ListaReceitaBanner').on("click", ".detalhesReceitaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#DetalhesReceitaBannerContainer').html(data);

                $('#DetalhesReceitaBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaReceitaBanner').on("click", ".editarReceitaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#EditarReceitaBannerContainer').html(data);

                $('#EditarReceitaBannerModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaReceitaBanner').on("click", ".verReceitaBannerImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ImagemReceitaBannerContainer').html(data);

                $('#ImagemReceitaBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });



        $('#ListaReceitaBanner').on("click", ".apagarReceitaBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ApagarReceitaBannerContainer').html(data);

                $('#ApagarReceitaBannerModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });









    });






</script>

<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaReceitaIntroducao').DataTable({


                    "serverSide": true,
                    "processing": true,


                    "ajax": {
                        "url": "@Url.Action("ListaReceitaIntroducao", "Receita")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ReceitaIntroducaoImagem", "Receita")?id=' + data + '" class="verReceitaIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesReceitaIntroducao", "Receita")?id=' + data + '" class="detalhesReceitaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarReceitaIntroducao", "Receita")?id=' + data + '" class="editarReceitaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarReceitaIntroducao", "Receita")?id=' + data + '" class="apagarReceitaIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();

        /* Detalhes Categoria  */
        $('#btnCriarReceitaIntroducao').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#CriarReceitaIntroducaoContainer').html(data);

                $('#CriarReceitaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaReceitaIntroducao').on("click", ".detalhesReceitaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#DetalhesReceitaIntroducaoContainer').html(data);

                $('#DetalhesReceitaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaReceitaIntroducao').on("click", ".editarReceitaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#EditarReceitaIntroducaoContainer').html(data);

                $('#EditarReceitaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaReceitaIntroducao').on("click", ".verReceitaIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ImagemReceitaIntroducaoContainer').html(data);

                $('#ImagemReceitaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });


        $('#ListaReceitaIntroducao').on("click", ".apagarReceitaIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ApagarReceitaIntroducaoContainer').html(data);

                $('#ApagarReceitaIntroducaoModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });









    });






</script>

<script type="text/javascript">

        var RECE_ListaTipoReceitas;
        $(function () {
            RECE_ListaTipoReceitas = {
                dt: null,

                init: function () {
                    dt = $('#ListaTipoReceitas').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,
                        "scrollCollapse": true,



                        "ajax": {
                            "url": "@Url.Action("ListaTipoReceitas", "Receita")"
                        },



                        "columnDefs": [

                            { "width": "70px", "targets": 1 }, //step 2, column 2 out of 4
                            { "width": '70px', "targets": 2 }  //step 2, column 3 out of 4
                        ],



                        "columns": [
                            { "title": "Descrição", "data": "Descricao", "searchable": true },

                            {
                                "title": "Activo",
                                "data": "Activo",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                                "render": function (data, type, full, meta) {
                                    if (data) {
                                        return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                    } else {
                                        return ' <i  class="fa fa-times-circle" aria-hidden="true" style="color:#e74c3c;"></i>';
                                    }

                                }
                            },


                            {
                                "title": "Opções",
                                "data": "TipoReceitaId",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a href="@Url.Action("DetalhesTipoReceita", "Receita")?id=' + data + '" class="detalhesTipoReceita" style="text-decoration:none;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a href="@Url.Action("EditarTipoReceita", "Receita")?id=' + data + '" class="editarTipoReceita" style="text-decoration:none;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a href="@Url.Action("ApagarTipoReceita", "Receita")?id=' + data + '" class="apagarTipoReceita" style="text-decoration:none;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                            }

                        ]
                        ,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        }


                    }
                    );





                },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                }

            }

            // initialize the datatables
            RECE_ListaTipoReceitas.init();


            /*Detalhes Menu*/
            $('#btnCriarTipoReceita').click( function (event) {

                event.preventDefault();

                var url = $(this).attr("href");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#CriarTipoReceitaContainer').html(data);

                    $('#CriarTipoReceitaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaTipoReceitas').on("click", ".detalhesTipoReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#DetalhesTipoReceitaContainer').html(data);

                    $('#DetalhesTipoReceitaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaTipoReceitas').on("click", ".apagarTipoReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ApagarTipoReceitaContainer').html(data);

                    $('#ApagarTipoReceitaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });


            $('#ListaTipoReceitas').on("click", ".editarTipoReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#EditarTipoReceitaContainer').html(data);

                    $('#EditarTipoReceitaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });





    });

        function CloseModalMediaCont() {
            $('#ApagarMediaConteudoModal').modal('hide');
            $('#ApagarMediaConteudoContainer').html("");
        }

        function CriarTipoReceitaSucesso(data) {

            if (data != "sucesso") {
                $('#CriarTipoReceitaContainer').html(data);
                return;
            }
            $('#CriarTipoReceitaModal').modal('hide');
            $('#CriarTipoReceitaContainer').html("");
            RECE_ListaTipoReceitas.refresh();

        }

        function ApagarTipoReceitaSucesso(data) {

            if (data != "sucesso") {
                $('#ApagarTipoReceitaContainer').html(data);
                return;
            }
            $('#ApagarTipoReceitaModal').modal('hide');
            $('#ApagarTipoReceitaContainer').html("");
            RECE_ListaTipoReceitas.refresh();

        }




</script>

<script type="text/javascript">

    var RECE_ListaReceitaVM;
        $(function () {
            RECE_ListaReceitaVM = {
                dt: null,

                init: function () {
                    dt = $('#ListaReceitaCozinheiros').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,
                        "scrollCollapse": true,



                        "ajax": {
                            "url": "@Url.Action("ListaReceitaCozinheiros", "Receita")",
                            "type" : "POST"
                        },



                        "columnDefs": [
                            { "width": "230px", "targets": 0 }, //step 2, column 1 out of 4
                            { "width": "230px", "targets": 1 }, //step 2, column 2 out of 4
                            { "width": '250px', "targets": 2 }  //step 2, column 3 out of 4
                        ],



                        "columns": [
                            { "title": "Nome", "data": "Nome", "searchable": true },

                            { "title": "Email", "data": "Email", "searchable": true },



                            {
                                "title": "Imagem",
                                "data": "CozinheiroId",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                                "render": function (data, type, full, meta) {
                                    if (data) {
                                        return '<a href="@Url.Action("GetCozinheiroImagem", "Receita")?id=' + data + '"  class="verCozImagem"><i class="fa fa-picture-o" aria-hidden="true"></i></a>';
                                    } else {
                                        return ' <i  class="fa fa-book" aria-hidden="true" style="color:#e74c3c;cursor:pointer;"></i>';
                                    }

                                }
                            },

                           
                            {
                                "title": "Activo",
                                "data": "Activo",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                                "render": function (data, type, full, meta) {
                                    if (data) {
                                        return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                    } else {
                                        return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                    }

                                }
                            },

                            {
                                "title": "Opções",
                                "data": "CozinheiroId",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesReceitaCozinheiro", "Receita")?id=' + data + '" class="detalhesReceitaCozinheiro" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarReceitaCozinheiro", "Receita")?id=' + data + '" class="editarReceitaCozinheiro" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarReceitaCozinheiro", "Receita")?id=' + data + '" class="apagarReceitaCozinheiro" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                            }

                        ]
                        ,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                         }


                      }
                    );





               },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                }

            }

            // initialize the datatables
            RECE_ListaReceitaVM.init();

            $('#btnCriarReceitaCozinheiro').click(function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#CriarReceitaCozinheiroContainer').html(data);

                    $('#CriarReceitaCozinheiroModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            /*Detalhes Menu*/
            $('#ListaReceitaCozinheiros').on("click", ".detalhesReceitaCozinheiro", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#DetalhesReceitaCozinheiroContainer').html(data);

                    $('#DetalhesReceitaCozinheiroModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaReceitaCozinheiros').on("click", ".editarReceitaCozinheiro", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#EditarReceitaCozinheiroContainer').html(data);

                    $('#EditarReceitaCozinheiroModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaReceitaCozinheiros').on("click", ".apagarReceitaCozinheiro", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ApagarReceitaCozinheiroContainer').html(data);

                    $('#ApagarReceitaCozinheiroModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });

            $('#ListaReceitaCozinheiros').on("click", ".verCozImagem", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ImagemReceitaCozinheiroContainer').html(data);

                    $('#ImagemReceitaCozinheiroModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });





    });

        function CloseModalMediaCont() {
            $('#ApagarMediaConteudoModal').modal('hide');
            $('#ApagarMediaConteudoContainer').html("");
        }




</script>

<script type="text/javascript">

        var RECE_ListaReceitaConteudoVM;
        $(function () {
            RECE_ListaReceitaConteudoVM = {
                dt: null,

                init: function () {
                    dt = $('#ListaReceitasConteudo').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,
                        "scrollCollapse": true,



                        "ajax": {
                            "url": "@Url.Action("ListaReceita", "Receita")"
                        },



                        "columns": [
                            { "title": "Típo", "data": "Tipo", "searchable": true },
                            { "title": "Cozinheiro", "data": "Cozinheiro", "searchable": true },
                            { "title": "Descrição", "data": "Descricao", "searchable": true },
                           

                            {
                                "title": "Imagem",
                                "data": "Imagem",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                               "render": function (data, type, full, meta) {
                                    if (data != "") {
                                        return '<a data-url="@Url.Action("ReceitaImagem", "Receita")?id=' + data + '"  class="verReceitaImagem"><i class="fa fa-picture-o" aria-hidden="true"></i></a>';
                                    } else {
                                        return '<i  class="fa fa-times-circle" aria-hidden="true" style="color:#e74c3c;cursor:pointer;"></i>';
                                    }

                                }
                            },

                            {
                                "title": "Activo",
                                "data": "Activo",
                                "searchable": false,
                                "sortable": true,
                                "scrollCollapse": true,
                                "render": function (data, type, full, meta) {
                                    if (data) {
                                        return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                    } else {
                                        return ' <i  class="fa fa-times-circle" aria-hidden="true" style="color:#e74c3c;"></i>';
                                    }

                                }
                            },

                            {
                                "title": "Opções",
                                "data": "ReceitaId",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a  data-url="@Url.Action("DetalhesReceita", "Receita")?id=' + data + '" class="detalhesReceita" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarReceita", "Receita")?id=' + data + '" class="editarReceita" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarReceita", "Receita")?id=' + data + '" class="apagarReceita" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                            }

                        ]
                        ,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                         }


                      }
                    );





               },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                }

            }

            // initialize the datatables
            RECE_ListaReceitaConteudoVM.init();


            $('#btnCriarReceita').click(function (event) {

               // event.preventDefault();

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#CriarReceitaContainer').html(data);

                    $('#CriarReceitaModal').modal('show');
                });


            });

            /*Receita Conteudo*/
            $('#ListaReceitasConteudo').on("click", ".detalhesReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#DetalhesReceitaContainer').html(data);

                    $('#DetalhesReceitaModal').modal('show');
                });


            });

            $('#ListaReceitasConteudo').on("click", ".editarReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#EditarReceitaContainer').html(data);

                    $('#EditarReceitaModal').modal('show');
                });


            });

            $('#ListaReceitasConteudo').on("click", ".apagarReceita", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#ApagarReceitaContainer').html(data);

                    $('#ApagarReceitaModal').modal('show');
                });


            });

            $('#ListaReceitasConteudo').on("click", ".editarReceitaConteudo", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#EditarReceitaConteudoContainer').html(data);

                    $('#EditarReceitaConteudoModal').modal('show');
                });


            });


            $('#ListaReceitasConteudo').on("click", ".verReceitaImagem", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");
                $('#spinner').fadeIn('fast');
                $.get(url, function (data) {
                    $('#ImagemReceitaContainer').html(data);

                    $('#ImagemReceitaModal').modal('show');
                    $('#spinner').stop().fadeOut('fast');
                });


            });








    });

        function ReiniciarReceita() {
            RECE_ListaReceitaConteudoVM;
         
        }




</script>



