﻿@model  Webtech_Office.Models.RegistoViewModel


<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Apagar Registo</h4>
        </div>
       
        
            <div class="modal-body">
                <div class="form-horizontal">
                 

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.IdiomaId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            
                            @Html.DropDownListFor(model => model.Registo.IdiomaId,
                                        (IEnumerable<SelectListItem>)ViewBag.Idiomas, "Seleccionar Idioma", new { @class = "selectpicker form-control" , @readonly = "readonly" }
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.ProvinviaId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           
                            @Html.DropDownListFor(model => model.Registo.ProvinviaId,
                                        (IEnumerable<SelectListItem>)ViewBag.Provincias, "Seleccionar Idioma", new { @class = "selectpicker form-control" , @readonly = "readonly" }
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            
                            @Html.EditorFor(model => model.Registo.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>


                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Email)
                        </label>

                        <div class="col-md-10">
                           
                            @Html.EditorFor(model => model.Registo.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Telefone)
                        </label>

                        <div class="col-md-10">
                            
                            @Html.EditorFor(model => model.Registo.Telefone, new { htmlAttributes = new { @class = "form-control", id = "telefone", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Mensagem)
                        </label>

                        <div class="col-md-10">
                           
                            @Html.TextAreaFor(model => model.Registo.Mensagem, 5, 500, new { maxlength = 4000, @class = "form-control", @readonly = "readonly" })


                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.FileUpload, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FileUpload.FileName, new { htmlAttributes = new { @type = "file", @readonly = "readonly" } })

                        </div>
                    </div>
                </div>

            </div>
            @using (Ajax.BeginForm("ApagarRegistoConfirmar", "Recrutamento", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ApagarRegistoSucesso(data)" }, new { @class = "form-horizontal", role = "form" }))
            {

               

                @Html.HiddenFor(model => model.Registo.Id)
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Apagar" />
                        </div>
                    </div>
                </div>


            }
        
    </div>



</div>
