﻿@model  Webtech_Office.Models.RegistoViewModel



<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Criar Registo</h4>
        </div>
        @using (Ajax.BeginForm("CriarRegisto", "Recrutamento", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CriarRegistoSuccesso(data)" }, new { enctype = "multipart/form-data",  @class = "form-horizontal", id = "formRegisto", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.IdiomaId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.IdiomaId, "", new { @class = "text-danger" })
                            @Html.DropDownListFor(model => model.Registo.IdiomaId,
                                        (IEnumerable<SelectListItem>)ViewBag.Idiomas, "Seleccionar Idioma", new { @class = "selectpicker form-control" }
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.ProvinviaId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.ProvinviaId, "", new { @class = "text-danger" })
                            @Html.DropDownListFor(model => model.Registo.ProvinviaId,
                                        (IEnumerable<SelectListItem>)ViewBag.Provincias, "Seleccionar Idioma", new { @class = "selectpicker form-control" }
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.Nome, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Registo.Nome, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>


                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Email)
                        </label>

                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.Email, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Registo.Email, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Telefone)
                        </label>

                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.Telefone, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Registo.Telefone, new { htmlAttributes = new { @class = "form-control", id = "telefone" } })

                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-2">
                            @Html.LabelFor(model => model.Registo.Mensagem)
                        </label>

                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Registo.Mensagem, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(model => model.Registo.Mensagem, 5, 500, new { maxlength = 4000, @class = "form-control" })


                        </div>
                    </div>

                    <div class="form-group">

                       @Html.LabelFor(model => model.FileUpload, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FileUpload.FileName, new { htmlAttributes = new {  @type="file" } })
                            
                        </div>
                    </div>


                   

                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }
    </div>



</div>



<script>
    function ajaxValidate(e) {
        $("form").submit(function (e) {
            e.preventDefault();
            $.validator.unobtrusive.parse("form");
        });

    }


        $(document).ready(function ()
        {

            $("#telefone").inputmask("mask", { "mask": "(+244) 999-999-999" });

    });
</script>


