﻿@model  Webtech_Office.Models.RegistoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Detalhes Registo</h4>
        </div>


        <div class="modal-body">
            <div class="form-horizontal">


               
                <div class="form-group">
                    @Html.LabelFor(model => model.Registo.ProvinviaId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.Registo.ProvinviaId,
                                        (IEnumerable<SelectListItem>)ViewBag.Provincias, "Seleccionar Idioma", new { @class = "selectpicker form-control", @readonly = "readonly" }
                            )
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Registo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Registo.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>


                <div class="form-group">

                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Registo.Email)
                    </label>

                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Registo.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Registo.Telefone)
                    </label>

                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Registo.Telefone, new { htmlAttributes = new { @class = "form-control", id = "telefone", @readonly = "readonly" } })

                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Registo.Mensagem)
                    </label>

                    <div class="col-md-10">

                        @Html.TextAreaFor(model => model.Registo.Mensagem, 5, 500, new { maxlength = 4000, @class = "form-control", @readonly = "readonly" })


                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-md-2">
                        <label >Anexo</label>
                    </label>

                    <div class="col-md-10">
                       
                        <p style="cursor:pointer;padding:0;"><a href="@Url.Content("~/Content/files/anexos/" + Model.Registo.PDF +"")" download>
    <i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i> &nbsp;&nbsp;@Html.DisplayFor(model => model.Registo.PDF)
</a></p>

                    </div>
                </div>


            </div>

        </div>


    </div>



</div>
