﻿
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>

<section class="content-header">
    <h1>
        <i class="fa fa-briefcase" aria-hidden="true"></i> Recrutamento

    </h1>
</section>

<div class="container">
    <div class="row" style="height:40px;">

    </div>
</div>



<!-- Recrutamento Conteudo -->
<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Registos de Candidatos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">

                    <div class="col-md-12" style="display:none;">
                        <button class="btn btn-primary btn-block pull-right"  id="btnCriarRegisto" data-url="@Url.Action("CriarRegisto", "Recrutamento")" data-toggle="modal" style="width:120px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Criar Registo</button>
                    </div>

                </div>

                <div class="panel-body  ">
                    <table id="ListaRegisto" class="table table-striped table-bordered" style="width:100%;" ></table>
                </div>
            </div>

            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<!-- Modal Sections -->
<section>

    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

    <!-- Modal Recrutamento COnteudo -->
    <div class="modal fade" id="CriarRecConteudoModal" tabindex="-1" role="dialog" aria-labelledby="CriarRecConteudoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarRecConteudoContainer">

        </div>
    </div>

    
    <!-- Modal Registo -->
    <div class="modal fade" id="CriarRegistoModal" tabindex="-1" role="dialog" aria-labelledby="CriarRegistoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarRegistoContainer">

        </div>
    </div>


    <div class="modal fade" id="EditarRegistoModal" tabindex="-1" role="dialog" aria-labelledby="EditarRegistoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarRegistoContainer">
        </div>
    </div>

    <div class="modal fade" id="DetalhesRegistoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesRegistoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesRegistoContainer">
        </div>
    </div>

    <div class="modal fade" id="ApagarRegistoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarRegistoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarRegistoContainer">
        </div>
    </div>




    <!-- Seccoes -->
    <div class="modal fade" id="CreateSeccaoModal" tabindex="-1" role="dialog" aria-labelledby="CreateSeccaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CreateSeccaoContainer">

        </div>
    </div>

</section>




<script type="text/javascript">

        var RECR_ListaRegistoVM;
        $(function () {
            RECR_ListaRegistoVM = {
                dt: null,

                init: function () {
                    dt = $('#ListaRegisto').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,


                        "ajax": {
                            "url": "@Url.Action("ListaRegisto", "Recrutamento")"
                        },

                        "columns": [
                            { "title": "Nome", "data": "Nome", "searchable": true },
                            { "title": "Provincía", "data": "Provincia", "searchable": true },

                            { "title": "Email", "data": "Email", "searchable": true },
                            { "title": "Telefone", "data": "Telefone", "searchable": true },

                            {
                                "title": "Anexo",
                                "data": "Anexo",
                                "searchable": false,
                                "sortable": true,

                                "render": function (data, type, full, meta) {
                                    if (data != "") {
                                        return '<a href="@Url.Content("~/Content/files/anexos/")' + data + '" download><i class="fa fa-file" aria-hidden="true"></i>';
                                    } else if (data == false ) {
                                        return ' <i class="fa fa-times-circle" aria-hidden="true" style="color:#e74c3c;"></i>';
                                    }

                                }
                            },
                            { "title": "Data Criação", "data": "DataCriacao" },

                            {
                                "title": "Opções",
                                "data": "RegistoID",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesRegisto","Recrutamento")?id=' + data + '" class="detalhesRegisto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>  </span>';
                                }
                            }

                        ]
                        ,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                        "language":
                        {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            }
                        }


                    });



                },

                refresh: function () {
                    dt.ajax.reload();
                },

                adjust: function () {
                    dt.columns.adjust().draw();
                }

            }

            // initialize the datatables
            RECR_ListaRegistoVM.init();

        /* Recrutamento Conteudo*/
            $("#btnCriarRecConteudo").on("click", function (event) {

                event.preventDefault();
                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#CriarRecConteudoContainer').html(data);

                    $('#CriarRecConteudoModal').modal('show');
                });

            });

        /* Recrutamento Registo*/
        $("#btnCriarRegisto").on("click", function (event) {

            event.preventDefault();
            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#CriarRegistoContainer').html(data);

                $('#CriarRegistoModal').modal('show');
            });

            });

        $('#ListaRegisto').on("click", ".editarRegisto", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#EditarRegistoContainer').html(data);

                $('#EditarRegistoModal').modal('show');
            });

        });

        $('#ListaRegisto').on("click", ".detalhesRegisto", function (event) {

                event.preventDefault();

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#DetalhesRegistoContainer').html(data);

                    $('#DetalhesRegistoModal').modal('show');
                });

            });


        $('#ListaRegisto').on("click", ".apagarRegisto", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#ApagarRegistoContainer').html(data);

                $('#ApagarRegistoModal').modal('show');
            });

        });



    });

    function CriarRegistoSuccesso(data) {

        if (data != "sucesso") {
            $('#CriarRegistoContainer').html(data);
            return;
        }
        $('#CriarRegistoModal').modal('hide');
        $('#CriarRegistoContainer').html("");
        $("#divLoader").hide();
        RECR_ListaRegistoVM.init();


        }

    function EditarRegistoSuccesso(data) {

        if (data != "sucesso") {
            $('#EditarRegistoContainer').html(data);
            return;
        }
        $('#EditarRegistoModal').modal('hide');
        $('#EditarRegistoContainer').html("");
        $("#divLoader").hide();
        MenusListVM.refresh();

    }

    function ApagarRegistoSucesso(data) {

        if (data != "sucesso") {
            $('#ApagarRegistoContainer').html(data);
            return;
        }
        $('#ApagarRegistoModal').modal('hide');
        $('#ApagarRegistoContainer').html("");
        $("#divLoader").hide();
        RECR_ListaRegistoVM.refresh();

    }


</script>



