﻿@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
           
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "HomePage")">
                <a href="@Url.Action("Index", "HomePage")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "QuemSomos")">
                <a href="@Url.Action("Index", "QuemSomos")"><i class="fa fa-users" aria-hidden="true"></i><span> Quem Somos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Receita")">
                <a href="@Url.Action("Index", "Receita")"><i class="fa fa-cutlery" aria-hidden="true"></i><span> Receitas </span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Loja")">
                <a href="@Url.Action("Index", "Loja")"><i class="fa fa-sitemap" aria-hidden="true"></i><span> Lojas</span></a>
            </li>
            <li class="treeview  @Url.IsLinkActive("Introducao", "Produto") @Url.IsLinkActive("CategoriaProduto", "Produto") @Url.IsLinkActive("Produtos", "Produto")">
                   
                        <a href="#">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                <span>Produtos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
</a>
                        <ul class="treeview-menu">
                            <li  class="@Url.IsLinkActive("Introducao", "Produto")"  ><a href="@Url.Action("Introducao", "Produto")">Introdução</a></li>
                            <li class="@Url.IsLinkActive("CategoriaProduto", "Produto")" ><a href="@Url.Action("CategoriaProduto", "Produto")">Categorias</a></li>
                            <li class="@Url.IsLinkActive("Introducao", "Produto")" ><a href="@Url.Action("Produtos", "Produto")">Produtos</a></li>
                        </ul>
                  
              
            </li>
            
            <li class="@Url.IsLinkActive("Index", "Media")">
                <a href="@Url.Action("Index", "Media")"><i class="fa fa-picture-o" aria-hidden="true"></i><span> Media</span></a>
            </li>
           
            <li class="@Url.IsLinkActive("Index", "Recrutamento")">
                <a href="@Url.Action("Index", "Recrutamento")"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>Recrutamento</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "ResponsabilidadeSocial")">
                <a href="@Url.Action("Index", "ResponsabilidadeSocial")"><i class="fa fa-address-card" aria-hidden="true"></i> <span>Responsabilidade Social</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Newsletters")">
                <a href="@Url.Action("Index", "Newsletters")"><i class="fa fa-address-card" aria-hidden="true"></i> <span>Newsletters</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "OndeEstamos")">
                <a href="@Url.Action("Index", "OndeEstamos")"><i class="fa fa-address-card" aria-hidden="true"></i> <span>Onde Estamos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Contacto")">
                <a href="@Url.Action("Index", "Contacto")"><i class="fa fa-address-card" aria-hidden="true"></i><span> Contactos</span></a>
            </li>
            
            <!--
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
                -->
        </ul>
        @* END Menu *@
    </section>
</aside>