﻿@model Webtech_Office.Models.MEDI_Media

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MEDI_Media</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destaque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartilhaFacebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartilhaFacebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartilhaTwitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartilhaTwitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.TipoDeEstrutura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.TipoDeEstrutura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDI_TipoMedia.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDI_TipoMedia.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
