﻿@model  Webtech_Office.Models.ServicoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>


<div class="modal-dialog create-modal" style="width:60%!important;vertical-align:middle;margin:30px auto!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Apagar Tipo Serviço</h4>
        </div>


        <div class="modal-body">
            <!-- Custom Tabs -->


            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @for (int i = 0; i < Model.TipoServicoTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.TipoServicoTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.TipoServicoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                            @Html.DisplayFor(model => model.TipoServicoTexto[i].CONF_Idioma.Codigo)
                            @Html.ValidationMessageFor(model => model.TipoServicoTexto[i].Descricao, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.TipoServicoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }

                @for (int i = 0; i < Model.TipoServicoTexto.Count; i++)
                {
                    @Html.HiddenFor(model => @Model.TipoServicoTexto[i].CONF_Idioma.Id)

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.TipoServicoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })

                            @Html.ValidationMessageFor(model => model.TipoServicoTexto[i].Introducao, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.TipoServicoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                }


                <div class="form-group">


                    <div class="col-md-10">
                        @Html.LabelFor(model => model.TipoServico.Activo, htmlAttributes: new { @class = "control-label " })

                        &nbsp;
                        @Html.ValidationMessageFor(model => model.TipoServico.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.TipoServico.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>


                @if (ViewBag.ApagarRelacao != null)
                {
                    <p style="padding:0;color:#ff0000;">O Tipo não pode ser apagado por ter receitas relacionadas.</p>
                }

            </div>


            <!-- /.tab-content -->

        </div>
       @using (Html.BeginForm("ApagarTipoServicoConfirmar", "Servicos", FormMethod.Post
                 , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                 ))
       {

            @Html.HiddenFor(x => x.TipoServico.Id)
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        @if (ViewBag.ApagarRelacao != null)
                        {
                            <input class="btn btn-primary" value="Confirmar" disabled="disabled" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-primary" value="Confirmar" />
                        }
                    </div>
                </div>
        </div>
        }

    </div>
</div>


