﻿@model Webtech_Office.Models.ServicoViewModel

<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
    $(document).ready(
        function () {
            waitingDialog.hide();

        }
    );
</script>





<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Detalhes Serviços</h3>
        </div>

        <div class="modal-body">
            <!-- Custom Tabs -->

            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading" style="height:60px;">

                    <h4>Informação</h4>

                </div>


                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group  ">
                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {
                               

                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ServicoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })
                                   
                                    @Html.ValidationMessageFor(model => model.ServicoTexto[i].Descricao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ServicoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>


                        <div class="form-group ">
                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {
                              
                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ServicoTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                 
                                    @Html.ValidationMessageFor(model => model.ServicoTexto[i].Introducao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ServicoTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>



                        <div class="form-group">

                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => @Model.ServicoTexto[i].CONF_Idioma.Id)


                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ServicoTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })

                                    @Html.ValidationMessageFor(model => model.ServicoTexto[i].Conteudo, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(model => model.ServicoTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = @i })
                                    <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@(i)');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                    </script>
                                </div>

                            }
                        </div>





                        <div class="form-group ">
                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {



                                @Html.HiddenFor(model => @Model.ServicoTexto[i].CONF_Idioma.Id)

                                <div class="col-md-12">


                                    @Html.LabelFor(model => model.ServicoTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                  
                                    @Html.ValidationMessageFor(model => model.ServicoTexto[i].Link, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ServicoTexto[i].Link, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                </div>

                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class=" form-group">
                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {
                                @Html.HiddenFor(model => model.ServicoTexto[i].CONF_Idioma.Id)



                                <div class="col-md-12 ">



                                    <label class="control-label "><b>PDF</b></label>
                                   
                                    @if (!String.IsNullOrWhiteSpace(Model.ServicoTexto[i].PDF))
                                    {
                                        <p style="cursor:pointer;padding:0;"><i class="fa fa-file-pdf-o " aria-hidden="true" style="font-size:20px;"> </i>&nbsp;&nbsp;@Html.DisplayFor(model => model.ServicoTexto[i].PDF)</p>

                                    }
                                    else
                                    {
                                        <p style="padding:0"><i class="fa fa-times-circle" aria-hidden="true" style="color:red;font-size:20px;"></i>&nbsp;&nbsp;Sem ficheiro anexado</p>
                                    }

                                </div>





                            }
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group">
                            @for (int i = 0; i < Model.ServicoTexto.Count; i++)
                            {



                                <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                    <label class="control-label "><b>Imagem</b></label>
                                   
                                    @if (!String.IsNullOrWhiteSpace(Model.ServicoTexto[i].Banner))
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@String.Concat(@Url.Content("~/Content/files/anexos/"),  Model.ServicoTexto[i].Banner)"
                                                 class="img-preview">
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <img id="@String.Concat("Img_", i)" src="@Url.Content("~/Content/img/sem-img.jpeg")"
                                                 class="img-preview">
                                        </p>
                                    }






                                </div>



                            }
                        </div>






                    </div>
                </div>
            </div>



            <div class="form-horizontal">

                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Servico.Activo, htmlAttributes: new { @class = "control-label " })
                        &nbsp;&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.Servico.Activo, "", new { @class = "text-danger" })
                        @Html.CheckBoxFor(model => model.Servico.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>


                </div>



            </div>


           

        </div>




        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelRedirect">Fechar</button>

                </div>
            </div>
        </div>


    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
    }

    .pdf {
        color: red;
        font-size: 18px;
        cursor: pointer;
    }

    .parag-pdf:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<script type="text/javascript">

    /*
    $(document).ready(
        function () {
            var val = $("#PrecoQuem").val();
            val = Number(val);
            $("#PrecoQuem").val(val.numberFormat(2, ',', '.'));
        }
    );
    */

    Number.prototype.numberFormat = function (decimals, dec_point, thousands_sep) {
        dec_point = typeof dec_point !== 'undefined' ? dec_point : '.';
        thousands_sep = typeof thousands_sep !== 'undefined' ? thousands_sep : ',';

        var parts = this.toFixed(decimals).split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_sep);

        return parts.join(dec_point);
    }
</script>


