﻿@model  Webtech_Office.Models.OndeEstamosViewModel
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>



<div class="modal-dialog create-modal" style="width:60%!important;vertical-align:middle;margin:30px auto!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Editar Onde Estamos</h4>
        </div>
        @using (Html.BeginForm("EditarOndeEstamos", "Contacto", FormMethod.Post
                    , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                    ))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => Model.OndeEstamos.Id)

            <div class="modal-body">
                <!-- Custom Tabs -->

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                   
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.OndeEstamos.Morada, htmlAttributes: new { @class = "control-label " })
                              
                                @Html.ValidationMessageFor(model => model.OndeEstamos.Morada, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.OndeEstamos.Morada, new { htmlAttributes = new { rows = "3", @class = "form-control" } })

                            </div>
                        </div>

              
                    <div class="form-group">


                        <div class="col-md-12">
                            @Html.LabelFor(model => model.OndeEstamos.Mapa, htmlAttributes: new { @class = "control-label " })

                            &nbsp;
                            @Html.ValidationMessageFor(model => model.OndeEstamos.Mapa, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(model => model.OndeEstamos.Mapa, new { @class = "form-control", rows = "5" })

                        </div>
                    </div>



                </div>



            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>




