﻿
@{
    ViewBag.Title = "Contacto";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/prettyPhoto.css" />


<section class="content-header">

    <h1>
        <i class="fa fa-address-card" aria-hidden="true"></i> Contactos
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarContactoBanner", "Contacto")" id="btnCriarContactoBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaContactoBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarContactoIntroducao", "Contacto")" id="btnCriarContactoIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaContactoIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Onde Estamos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("EditarOndeEstamos", "Contacto")?id=1" id="btnEditarOndeEstamos" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Editar</button>
                    </div>
                </div>

                <div class="panel-body  ">
                    <div class="form-group">
                        <h4>Morada</h4>
                        <p id="MoradaP">
                    </div>

                    <div class="form-group">
                        <div id="DivMapa">
                            
                        </div>
                    </div>
                    
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Contacto</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarContacto", "Contacto")" id="btnCriarContacto" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Contacto</button>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaContacto" class="table table-striped table-bordered" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>




<!-- Modal -->
<section>

    <div class="modal fade" id="CriarContactoBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarContactoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarContactoBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="DetalhesContactoBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesContactoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesContactoBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarContactoBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarContactoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarContactoBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarContactoBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarContactoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarContactoBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemContactoBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemContactoBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemContactoBannerContainer">

        </div>
    </div>





</section>

<section>

    <div class="modal fade" id="CriarContactoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="CriarContactoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarContactoIntroducaoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesContactoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesContactoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesContactoIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarContactoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarContactoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarContactoIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarContactoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarContactoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarContactoIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemContactoIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemContactoIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemContactoIntroducaoContainer">

        </div>
    </div>





</section>

<section>



    <div class="modal fade" id="EditarOndeEstamosModal" tabindex="-1" role="dialog" aria-labelledby="EditarOndeEstamosModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarOndeEstamosContainer">

        </div>
    </div>

   


</section>


<section>





    <div class="modal fade" id="CriarContactoModal" tabindex="-1" role="dialog" aria-labelledby="CriarContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarContactoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesContactoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesContactoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarContactoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarContactoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarContactoModal" tabindex="-1" role="dialog" aria-labelledby="EditarContactoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarContactoContainer">

        </div>
    </div>





</section>



<!-- Banner -->
<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaContactoBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "Contacto")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ContactoBannerImagem", "Contacto")?id=' + data + '" class="verContactoBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesContactoBanner", "Contacto")?id=' + data + '" class="detalhesContactoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarContactoBanner", "Contacto")?id=' + data + '" class="editarContactoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarContactoBanner", "Contacto")?id=' + data + '" class="apagarContactoBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarContactoBanner').click(function () {            

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarContactoBannerContainer').html(data);

                $('#CriarContactoBannerModal').modal('show');
            });


        });



        /* Detalhes Categoria  */
        $('#ListaContactoBanner').on("click", ".detalhesContactoBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesContactoBannerContainer').html(data);

                $('#DetalhesContactoBannerModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaContactoBanner').on("click", ".editarContactoBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarContactoBannerContainer').html(data);

                $('#EditarContactoBannerModal').modal('show');
            });


        });



        $('#ListaContactoBanner').on("click", ".verContactoBannerImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemContactoBannerContainer').html(data);

                $('#ImagemContactoBannerModal').modal('show');
            });


        });



        $('#ListaContactoBanner').on("click", ".apagarContactoBanner", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarContactoBannerContainer').html(data);

                $('#ApagarContactoBannerModal').modal('show');
            });


        });









    });






</script>

<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaContactoIntroducao').DataTable({


                    "serverSide": true,
                    "processing": true,


                    "ajax": {
                        "url": "@Url.Action("ListaContactoIntroducao", "Contacto")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("ContactoIntroducaoImagem", "Contacto")?id=' + data + '" class="verContactoIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesContactoIntroducao", "Contacto")?id=' + data + '" class="detalhesContactoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarContactoIntroducao", "Contacto")?id=' + data + '" class="editarContactoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarContactoIntroducao", "Contacto")?id=' + data + '" class="apagarContactoIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();

        /* Detalhes Categoria  */
        $('#btnCriarContactoIntroducao').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarContactoIntroducaoContainer').html(data);

                $('#CriarContactoIntroducaoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaContactoIntroducao').on("click", ".detalhesContactoIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesContactoIntroducaoContainer').html(data);

                $('#DetalhesContactoIntroducaoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaContactoIntroducao').on("click", ".editarContactoIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarContactoIntroducaoContainer').html(data);

                $('#EditarContactoIntroducaoModal').modal('show');
            });


        });


        $('#ListaContactoIntroducao').on("click", ".verContactoIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ImagemContactoIntroducaoContainer').html(data);

                $('#ImagemContactoIntroducaoModal').modal('show');
            });


        });


        $('#ListaContactoIntroducao').on("click", ".apagarContactoIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarContactoIntroducaoContainer').html(data);

                $('#ApagarContactoIntroducaoModal').modal('show');
            });


        });









    });






</script>

<script type="text/javascript">

    $(
        function () {
            
            

            $.ajax({
                url: '/Contacto/OndeEstamos',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var morada = document.getElementById("MoradaP");
                    var mapa = document.getElementById("DivMapa");

                    

                    $.each(data, function (id, item) {
                        
                        $(morada).html(item.Morada);
                        $(mapa).html(item.Mapa);
                    });  


                    $("#DivMapa iframe").attr("width", "100%");
                  
                    
                    
                },
                error: function (xhr) {
                    alert('error');
                }
            });


            $('#btnEditarOndeEstamos').click(function (event) {

               

                var url = $(this).attr("data-url");

                $.get(url, function (data) {
                    $('#EditarOndeEstamosContainer').html(data);

                    $('#EditarOndeEstamosModal').modal('show');
                });


            });

          
        }
    );

   

</script>


<script type="text/javascript">

    var LOJA_ContactoList;
    $(function () {
        LOJA_ContactoList = {
            dt: null,

            init: function () {
                dt = $('#ListaContacto').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,



                    "ajax": {
                        "url": "@Url.Action("ListaContacto", "Contacto")"
                    },



                    "columnDefs": [

                        { "width": "60px", "targets": 0 }, //step 2, column 2 out of 4
                        { "width": '70px', "targets": -1 },  //step 2, column 3 out of 4
                        { "width": '70px', "targets": -2 }
                    ],



                    "columns": [
                        { "title": "Ordem", "data": "Ordem", "searchable": true },
                        { "title": "Típo", "data": "Tipo", "searchable": true },
                        { "title": "Descrição", "data": "Descricao", "searchable": true },

                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i  class="fa fa-book" aria-hidden="true" style="color:#e74c3c;"></i>';
                                }

                            }
                        },


                        {
                            "title": "Opções",
                            "data": "Opcoes",
                            "searchable": false,
                            "sortable": false,

                            "render": function (data, type, full, meta) {
                                return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesContacto", "Contacto")?id=' + data + '" class="detalhesContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarContacto", "Contacto")?id=' + data + '" class="editarContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarContacto", "Contacto")?id=' + data + '" class="apagarContacto" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                            }
                        }

                    ]
                    ,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        LOJA_ContactoList.init();


        /* Criar Categoria */
        $('#btnCriarContacto').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#CriarContactoContainer').html(data);

                $('#CriarContactoModal').modal('show');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaContacto').on("click", ".detalhesContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#DetalhesContactoContainer').html(data);

                $('#DetalhesContactoModal').modal('show');
            });


        });

        $('#ListaContacto').on("click", ".editarContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#EditarContactoContainer').html(data);

                $('#EditarContactoModal').modal('show');
            });


        });

        $('#ListaContacto').on("click", ".apagarContacto", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $.get(url, function (data) {
                $('#ApagarContactoContainer').html(data);

                $('#ApagarContactoModal').modal('show');
            });


        });


        function CloseEditarOndeEstamosSucesso(data) {
            $('#EditarOndeEstamosModal').modal('hide');
            $('#EditarOndeEstamosContainer').html("");
        }




    });


</script>




<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>

