﻿@model Webtech_Office.Models.QuemSomosViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir Introducao</title>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        $(document).ready(
            function () {
                waitingDialog.hide();

            }
        );
    </script>

</head>
<body>

    <div class="modal-dialog create-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Inserir Quem Somos</h3>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("CriarQuemSomos", "QuemSomos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formRegisto", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <!-- Custom Tabs -->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="panel panel-primary list-panel" id="list-panel">

                        <div class="panel-heading" style="height:60px;">

                            <h4>Informação</h4>

                        </div>


                        <div class="panel-body  ">

                            <div class="form-horizontal">








                                <div class="form-group">
                                    @for (int i = 0; i < Model.QuemSomosTexto.Count; i++)
                                    {
                                        @Html.HiddenFor(model => @Model.QuemSomosTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.QuemSomosTexto[i].Titulo, htmlAttributes: new { @class = "control-label " })
                                            
                                            @Html.ValidationMessageFor(model => model.QuemSomosTexto[i].Titulo, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.QuemSomosTexto[i].Titulo, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }
                                </div>

                                <div class="form-group">
                                    @for (int i = 0; i < Model.QuemSomosTexto.Count; i++)
                {
                                        @Html.HiddenFor(model => @Model.QuemSomosTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.QuemSomosTexto[i].Introducao, htmlAttributes: new { @class = "control-label " })
                                        
                                            @Html.ValidationMessageFor(model => model.QuemSomosTexto[i].Introducao, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.QuemSomosTexto[i].Introducao, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }

                                </div>

                                

                                <div class="form-group">

                                    @for (int i = 0; i < Model.QuemSomosTexto.Count; i++)
                                    {
                                        @Html.HiddenFor(model => @Model.QuemSomosTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.QuemSomosTexto[i].Link, htmlAttributes: new { @class = "control-label " })
                                           
                                            @Html.ValidationMessageFor(model => model.QuemSomosTexto[i].Link, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.QuemSomosTexto[i].Link, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>


                                    }
                                </div>

                                <div class="form-group">

                                    @for (int i = 0; i < Model.QuemSomosTexto.Count; i++)
                                    {
                                        @Html.HiddenFor(model => @Model.QuemSomosTexto[i].CONF_Idioma.Id)


                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.QuemSomosTexto[i].Conteudo, htmlAttributes: new { @class = "control-label " })

                                            @Html.ValidationMessageFor(model => model.QuemSomosTexto[i].Conteudo, "", new { @class = "text-danger" })
                                            @Html.TextAreaFor(model => model.QuemSomosTexto[i].Conteudo, new { @rows = 200, @class = "form-control", id = @i })
                                            <script>
                                                $(document).ready(
                                                    function () {
                                                        CKEDITOR.replace('@i');
                                                        CKEDITOR.Add;
                                                    }
                                                );

                                            </script>
                                        </div>

                                    }
                                </div>

                                <div class="form-group">

                                    @for (int i = 0; i < Model.FileDocumento.Count; i++)
                                    {
                                        @Html.HiddenFor(model => model.QuemSomosTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12">

                                            <label class="control-label "><b>PDF</b></label>
                                           
                                            @Html.EditorFor(model => @Model.FileDocumento[i].File, new { htmlAttributes = new { @class = "form-control", name = "File", id = "File" } })



                                        </div>


                                    }
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @for (int i = 0; i < Model.File.Count; i++)
                                    {
                                        @Html.HiddenFor(model => model.QuemSomosTexto[i].CONF_Idioma.Id)



                                        <div class="col-md-12" id="@String.Concat("divImg_", i)">

                                            <label class="control-label "><b>Imagem</b></label>
                                  
                                            @Html.EditorFor(model => @Model.File[i].File, new { htmlAttributes = new { @class = "form-control ", name = @String.Concat("File_", i), @id = @String.Concat("File_", i) } })
                                            <img id="@String.Concat("Img_", i)" class="img-preview">
                                            <script type="text/javascript">
                                                $("@String.Concat("#File_", i+"__File")").change(function () {
                                                    readURL(this, "@String.Concat("#Img_", i)");
                                                });
                                            </script>

                                        </div>


                                    }
                                </div>
                            </div>
                        </div>
                    </div>











                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" >Fechar</button>
                                        <input type="submit" class="btn btn-primary" value="Confirmar" />
                                    </div>
                                </div>
                            </div>



                }

            </div>
        </div>
    </div>

    <style type="text/css">
        .img-preview {
            height: 250px;
            width: auto;
            
        }
    </style>

    <script type="text/javascript">

        $("#CancelRedirect").click(
            function () {
                window.location = "/QuemSomos/Index";
            }
        );



        function readURL(input, img) {
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(img).attr('src', e.target.result);
                        $(img).css("display", "block");
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }


        }

        $(document).ready(
            function () {

                $("#MapaPartilhado").change(

                    function () {
                        var mapa = $("#MapaPartilhado").val();
                        document.getElementById("#DivMapaPreview").innerHTML = "";
                        document.getElementById("#DivMapaPreview").innerHTML = mapa;
                    }
                );
            }

        );




    </script>
</body>
</html>
