﻿
@{
    ViewBag.Title = "Quem Somos";
}


<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")" />
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/datatables")"></script>

<link rel="stylesheet" type="text/css" href="~/Content/prettyPhoto.css" />


<section class="content-header">

    <h1>
        <i class="fa fa-users" aria-hidden="true"></i> Quem Somos
    </h1>

</section>

<div class="container">
    <div class="row" style="height:20px;">

    </div>
</div>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Banner</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarQuemBanner", "QuemSomos")" id="btnCriarQuemBanner" style="width:140px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Banner</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaQuemBanner" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>

<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Introdução</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarQuemIntroducao", "QuemSomos")" id="btnCriarQuemIntroducao" style="width:160px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Introdução</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaQuemIntroducao" class="table table-striped table-bordered " style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>



<section class="content">

    <div style="width:100%;"></div>
    <div class="box">

        <div class="box-header ">
            <h3 class="box-title">Quem Somos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="box-body">


            <div class="panel panel-default list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-block pull-right" data-toggle="modal" data-url="@Url.Action("CriarQuemSomos", "QuemSomos")" id="btnCriarQuem" style="width:180px;"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Inserir Quem Somos</a>
                    </div>
                </div>

                <div class="panel-body  ">
                    <table id="ListaQuem" class="table table-striped table-bordered" style="width:100%;"></table>
                </div>
            </div>



            <!-- /.box-body -->

        </div>
    </div>

    <div style="width:100%;height:10px;"></div>


</section>




<!-- Modal -->
<section>

    <div class="modal fade" id="CriarQuemBannerModal" tabindex="-1" role="dialog" aria-labelledby="CriarQuemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarQuemBannerContainer">



        </div>
    </div>

    <div class="modal fade" id="DetalhesQuemBannerModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesQuemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesQuemBannerContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarQuemBannerModal" tabindex="-1" role="dialog" aria-labelledby="ApagarQuemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarQuemBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarQuemBannerModal" tabindex="-1" role="dialog" aria-labelledby="EditarQuemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarQuemBannerContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemQuemBannerModal" tabindex="-1" role="dialog" aria-labelledby="ImagemQuemBannerModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemQuemBannerContainer">

        </div>
    </div>





</section>

<section>

    <div class="modal fade" id="CriarQuemIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="CriarQuemIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarQuemIntroducaoContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesQuemIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesQuemIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesQuemIntroducaoContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarQuemIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ApagarQuemIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarQuemIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarQuemIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="EditarQuemIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarQuemIntroducaoContainer">

        </div>
    </div>

    <div class="modal fade" id="ImagemQuemIntroducaoModal" tabindex="-1" role="dialog" aria-labelledby="ImagemQuemIntroducaoModal" aria-hidden="true" data-backdrop="static">
        <div id="ImagemQuemIntroducaoContainer">

        </div>
    </div>





</section>




<section>





    <div class="modal fade" id="CriarQuemModal" tabindex="-1" role="dialog" aria-labelledby="CriarQuemModal" aria-hidden="true" data-backdrop="static">
        <div id="CriarQuemContainer">

        </div>
    </div>



    <div class="modal fade" id="DetalhesQuemModal" tabindex="-1" role="dialog" aria-labelledby="DetalhesQuemModal" aria-hidden="true" data-backdrop="static">
        <div id="DetalhesQuemContainer">

        </div>
    </div>


    <div class="modal fade" id="ApagarQuemModal" tabindex="-1" role="dialog" aria-labelledby="ApagarQuemModal" aria-hidden="true" data-backdrop="static">
        <div id="ApagarQuemContainer">

        </div>
    </div>

    <div class="modal fade" id="EditarQuemModal" tabindex="-1" role="dialog" aria-labelledby="EditarQuemModal" aria-hidden="true" data-backdrop="static">
        <div id="EditarQuemContainer">

        </div>
    </div>

    <div class="modal fade" id="QuemImagemModal" tabindex="-1" role="dialog" aria-labelledby="QuemImagemModal" aria-hidden="true" data-backdrop="static">
        <div id="QuemImagemContainer">

        </div>
    </div>





</section>


<div id="spinner">
    <img src="@Url.Content("~/Content/Gear.gif")" alt="Loading..." style="width:80px;height:80px;" />
</div>

<style>
    div#spinner {
        display: none;
        width: 170px;
        height: 170px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>





<!-- Banner -->
<!-- Scripts -->
<script type="text/javascript">

    var PROD_BannerList;
    $(function () {
        PROD_BannerList = {
            dt: null,

            init: function () {
                dt = $('#ListaQuemBanner').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("ListaBanner", "QuemSomos")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Titulo", "data": "Titulo", "searchable": true },
                        { "title": "Introducao", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("QuemBannerImagem", "QuemSomos")?id=' + data + '" class="verQuemBannerImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesQuemBanner", "QuemSomos")?id=' + data + '" class="detalhesQuemBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarQuemBanner", "QuemSomos")?id=' + data + '" class="editarQuemBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarQuemBanner", "QuemSomos")?id=' + data + '" class="apagarQuemBanner" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_BannerList.init();

        $('#btnCriarQuemBanner').click(function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {

                $('#CriarQuemBannerContainer').html(data);

                $('#CriarQuemBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');


            });


        });



        /* Detalhes Categoria  */
        $('#ListaQuemBanner').on("click", ".detalhesQuemBanner", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#DetalhesQuemBannerContainer').html(data);

                $('#DetalhesQuemBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaQuemBanner').on("click", ".editarQuemBanner", function (event) {



            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');



            $.get(url, function (data) {
                $('#EditarQuemBannerContainer').html(data);

                $('#EditarQuemBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });



        $('#ListaQuemBanner').on("click", ".verQuemBannerImagem", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");


            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ImagemQuemBannerContainer').html(data);

                $('#ImagemQuemBannerModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });



        $('#ListaQuemBanner').on("click", ".apagarQuemBanner", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');
            $.get(url, function (data) {
                $('#ApagarQuemBannerContainer').html(data);

                $('#ApagarQuemBannerModal').modal('show');
                $('#spinner').stop().fadeOut('fast');
            });


        });









    });






</script>

<!-- Introdução -->
<script type="text/javascript">

    var PROD_IntroducaoList;
    $(function () {
        PROD_IntroducaoList = {
            dt: null,

            init: function () {
                dt = $('#ListaQuemIntroducao').DataTable({


                    "serverSide": true,
                    "processing": true,


                    "ajax": {
                        "url": "@Url.Action("ListaQuemIntroducao", "QuemSomos")",
                        "type" : "POST"
                    },



                    "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("QuemIntroducaoImagem", "QuemSomos")?id=' + data + '" class="verQuemIntroducaoImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        }
                        ,
                        {
                            "title": "Activo",
                            "data": "Activo",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<i class="fa fa-check" aria-hidden="true tyle="color:green;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }
                        },

                        {
                                "title": "Opções",
                                "data": "Opcoes",
                                "searchable": false,
                                "sortable": false,

                                "render": function (data, type, full, meta) {
                                    return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesQuemIntroducao", "QuemSomos")?id=' + data + '" class="detalhesQuemIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarQuemIntroducao", "QuemSomos")?id=' + data + '" class="editarQuemIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarQuemIntroducao", "QuemSomos")?id=' + data + '" class="apagarQuemIntroducao" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                                }
                        }
                    ],





                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        PROD_IntroducaoList.init();

        /* Detalhes Categoria  */
        $('#btnCriarQuemIntroducao').click(function (event) {

           // event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#CriarQuemIntroducaoContainer').html(data);

                $('#CriarQuemIntroducaoModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });

        /* Detalhes Categoria  */
        $('#ListaQuemIntroducao').on("click", ".detalhesQuemIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#DetalhesQuemIntroducaoContainer').html(data);

                $('#DetalhesQuemIntroducaoModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });

        /* Detalhes Categoria  */
        $('#ListaQuemIntroducao').on("click", ".editarQuemIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#EditarQuemIntroducaoContainer').html(data);

                $('#EditarQuemIntroducaoModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });


        $('#ListaQuemIntroducao').on("click", ".verQuemIntroducaoImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ImagemQuemIntroducaoContainer').html(data);

                $('#ImagemQuemIntroducaoModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });


        $('#ListaQuemIntroducao').on("click", ".apagarQuemIntroducao", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ApagarQuemIntroducaoContainer').html(data);

                $('#ApagarQuemIntroducaoModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });









    });






</script>




<script type="text/javascript">

    var LOJA_QuemList;
    $(function () {
        LOJA_QuemList = {
            dt: null,

            init: function () {
                dt = $('#ListaQuem').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "scrollX": true,
                    "scrollCollapse": true,



                    "ajax": {
                        "url": "@Url.Action("ListaQuemSomos", "QuemSomos")"
                    },



                      "columnDefs": [

                        { "width": "230px", "targets": 0 }, //step 2, column 2 out of 4

                        { "width": "80px", "targets": -1 }
                    ],



                   "columns": [
                        { "title": "Título", "data": "Titulo", "searchable": true },
                        { "title": "Introdução", "data": "Introducao", "searchable": true },








                        {
                            "title": "Imagem",
                            "data": "Imagem",
                            "searchable": false,
                            "sortable": true,
                            "scrollCollapse": true,
                            "render": function (data, type, full, meta) {
                                if (data) {
                                    return '<a data-url="@Url.Action("QuemSomosImagem", "QuemSomos")?id=' + data + '" class="verQuemImagem"><i class="fa fa-picture-o" aria-hidden="true" style="color:green;cursor:pointer;"></i></a>';
                                } else {
                                    return ' <i class="fa fa-times-circle" aria-hidden="true"  style="color:#e74c3c;"></i>';
                                }

                            }

                        },

                        {
                            "title": "Opções",
                            "data": "Opcoes",
                            "searchable": false,
                            "sortable": false,

                            "render": function (data, type, full, meta) {
                                return '<span class="opcoes-tbl"><a data-url="@Url.Action("DetalhesQuemSomos", "QuemSomos")?id=' + data + '" class="detalhesQuem" style="text-decoration:none;cursor:pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>&nbsp; <a data-url="@Url.Action("EditarQuemSomos", "QuemSomos")?id=' + data + '" class="editarQuem" style="text-decoration:none;cursor:pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp; <a data-url="@Url.Action("ApagarQuemSomos", "QuemSomos")?id=' + data + '" class="apagarQuem" style="text-decoration:none;cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></a>  </span>';
                            }
                        }

                    ]
                    ,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    "language":
                    {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }


                }
                );





            },

            refresh: function () {
                dt.ajax.reload();
            },

            adjust: function () {
                dt.columns.adjust().draw();
            }

        }

        // initialize the datatables
        LOJA_QuemList.init();


        /* Criar Categoria */
        $('#btnCriarQuem').click(function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#CriarQuemContainer').html(data);

                $('#CriarQuemModal').modal('show');

                $('#spinner').stop().fadeOut('fast');
            });


        });

        /* Detalhes Categoria  */
        $('#ListaQuem').on("click", ".detalhesQuem", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#DetalhesQuemContainer').html(data);

                $('#DetalhesQuemModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });

        $('#ListaQuem').on("click", ".editarQuem", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");
            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#EditarQuemContainer').html(data);

                $('#EditarQuemModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });

        $('#ListaQuem').on("click", ".apagarQuem", function (event) {

            //event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#ApagarQuemContainer').html(data);

                $('#ApagarQuemModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });

        $('#ListaQuem').on("click", ".verQuemImagem", function (event) {

            event.preventDefault();

            var url = $(this).attr("data-url");

            $('#spinner').fadeIn('fast');

            $.get(url, function (data) {
                $('#QuemImagemContainer').html(data);

                $('#QuemImagemModal').modal('show');

                $('#spinner').stop().fadeOut('fast');

            });


        });


        function CloseEditarOndeEstamosSucesso(data) {
            $('#EditarOndeEstamosModal').modal('hide');
            $('#EditarOndeEstamosContainer').html("");
        }




    });


</script>




<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>



