﻿@model Webtech_Office.Models.ContactoViewModel


<title>Inserir </title>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Bundles/js")"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="modal-dialog create-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;&nbsp;Apagar Contacto</h3>
        </div>

        <div class="modal-body">


            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading" style="height:60px;">

                    <h4>Informações do Contacto</h4>

                </div>

                <div class="panel-body  ">
                    <div class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Contacto.Ordem, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Contacto.Ordem, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Contacto.Ordem, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6">

                                <label class="control-label "><b>Típo</b></label>

                                @Html.ValidationMessageFor(model => model.Contacto.TipoContactoId, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.Contacto.TipoContactoId,
                                        (IEnumerable<SelectListItem>)ViewBag.TipoContacto, "Seleccionar Típo", new { @class = "selectpicker form-control", @disabled = true })


                            </div>

                            <div class="col-md-6">

                                
                            </div>



                        </div>


                        @for (int i = 0; i < Model.ContactoTexto.Count; i++)
                        {


                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ContactoTexto[i].Descricao, htmlAttributes: new { @class = "control-label " })

                                    @Html.ValidationMessageFor(model => model.ContactoTexto[i].Descricao, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ContactoTexto[i].Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                        }






                        <div class="form-group">

                            <div class="col-md-6">

                                @Html.LabelFor(model => model.Contacto.HorarioInicio, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Contacto.HorarioInicio, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Contacto.HorarioInicio, new { htmlAttributes = new { @class = "form-control", type = "time", @readonly = "readonly" } })

                            </div>

                            <div class="col-md-6">

                                @Html.LabelFor(model => model.Contacto.HorarioFim, htmlAttributes: new { @class = "control-label " })

                                @Html.ValidationMessageFor(model => model.Contacto.HorarioFim, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Contacto.HorarioFim, new { htmlAttributes = new { @class = "form-control", type = "time", @readonly = "readonly" } })

                            </div>



                        </div>



                    </div>
                </div>

            </div>






            
                    <div class="form-horizontal">



                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Contacto.Activo, htmlAttributes: new { @class = "control-label " })
                                &nbsp;&nbsp;&nbsp;
                                @Html.ValidationMessageFor(model => model.Contacto.Activo, "", new { @class = "text-danger" })
                                @Html.CheckBoxFor(model => model.Contacto.Activo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>



                    </div>
               




            @using (Ajax.BeginForm("ApagarContactoConfirmar", "", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApagarSucesso(data)" }
                              , htmlAttributes: new { @class = "form-horizontal", id = "formRegisto", role = "form" }
                              ))
            {

                @Html.HiddenFor(x => x.Contacto.Id)
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Confirmar" />
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</div>

<style type="text/css">
    .img-preview {
        height: 250px;
        width: auto;
        display: none;
    }
</style>

<script type="text/javascript">

    $("#CancelRedirect").click(
        function () {
            window.location = "//Index";
        }
    );



    function readURL(input, img) {
        for (var i = 0; i < input.files.length; i++) {
            if (input.files[i]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                    $(img).css("display", "block");
                }
                reader.readAsDataURL(input.files[i]);
            }
        }


    }

    $(document).ready(
        function () {

            $("#MapaPartilhado").change(

                function () {
                    var mapa = $("#MapaPartilhado").val();
                    document.getElementById("#DivMapaPreview").innerHTML = "";
                    document.getElementById("#DivMapaPreview").innerHTML = mapa;
                }
            );
        }

    );




</script>




